<form [formGroup]="employmentDetailForm">
  <div formArrayName="fieldMaster">
    <div *ngFor="let fieldMasterFields of fieldMaster.controls; let i=index">
      <div [formGroupName]="i">
        <!--Basic Information -->
        <div class="card" style="box-shadow: none !important;">
          <div class="card-header">
            <div style="float:left">
              <h6 class="title">
                {{this.employmentDetailForm.controls.fieldMaster.controls[i].controls.sectionName.value}}</h6>
            </div>
            <div style="text-align: right;">
              <button *ngIf="!this.employmentDetailForm.controls.fieldMaster.controls[i].controls.editable.value"
                type="button" class="btn header-button"
                (click)="openInEditMode(i);this.employmentDetailForm.controls.fieldMaster.controls[i].controls.editable.value=true">
                <span>
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                  Edit</span>
              </button>
              <button *ngIf="this.employmentDetailForm.controls.fieldMaster.controls[i].controls.editable.value"
                type="button"
                (click)="cancelForm();this.employmentDetailForm.controls.fieldMaster.controls[i].controls.editable.value=false"
                class="btn header-button">
                <span>
                  <i class="fa fa-times" aria-hidden="true"></i>
                  Cancel</span>
              </button>
              <button *ngIf="this.employmentDetailForm.controls.fieldMaster.controls[i].controls.editable.value"
                type="button" (click)=" save(this.employmentDetailForm.controls.fieldMaster.controls[i],i)"
                class="btn header-button">
                <span>
                  <i class="fa fa-check" aria-hidden="true"></i>
                  Save</span>
              </button>
            </div>
          </div>
          <div class="card-content">
            <div formArrayName="fields">
              <div *ngFor="let event of fieldMasterFields.controls['fields'].controls; let idx=index">
                <div [formGroupName]="idx">
                  <div class="row">
                    <div class="col-md-8">
                      <p class="category">
                        {{ this.employmentDetailForm.controls.fieldMaster.controls[i].controls.fields.controls[idx].controls.fieldDescription.value}}
                      </p>
                    </div>
                    <div class="col-md-4"
                      *ngIf="!this.employmentDetailForm.controls.fieldMaster.controls[i].controls.editable.value">
                      <p class="category"
                        *ngIf="this.employmentDetailForm.controls.fieldMaster.controls[i].controls.fields.controls[idx].controls.fieldType.value === 'Date' else otherFields">
                        {{ this.employmentDetailForm.controls.fieldMaster.controls[i].controls.fields.controls[idx].controls.fieldValue.value
                        | date:'dd/MM/yyyy'}}</p>
                      <ng-template #otherFields>
                        <p class="category"> {{ this.employmentDetailForm.controls.fieldMaster.controls[i].controls.fields.controls[idx].controls.fieldValue.value
                          }} </p>
                      </ng-template>
                    </div>
                    <div *ngIf="this.employmentDetailForm.controls.fieldMaster.controls[i].controls.editable.value">
                      <div class="col-md-4"
                        *ngIf="this.employmentDetailForm.controls.fieldMaster.controls[i].controls.fields.controls[idx].controls.fieldType.value === 'SingleLineText'">
                        <mat-form-field class="fullLength">
                          <input matInput
                            placeholder="{{this.employmentDetailForm.controls.fieldMaster.controls[i].controls.fields.controls[idx].controls.fieldPlaceholderValue.value}}"
                            formControlName="fieldValue"
                            [required]="this.employmentDetailForm.controls.fieldMaster.controls[i].controls.fields.controls[idx].controls.mandatory.value">
                        </mat-form-field>
                      </div>
                      <div class="col-md-4"
                        *ngIf="this.employmentDetailForm.controls.fieldMaster.controls[i].controls.fields.controls[idx].controls.fieldType.value === 'Dropdown'">
                        <mat-form-field class="fullLength">
                          <mat-select
                            placeholder="{{this.employmentDetailForm.controls.fieldMaster.controls[i].controls.fields.controls[idx].controls.fieldPlaceholderValue.value}}"
                            formControlName="fieldValue"
                            [required]="this.employmentDetailForm.controls.fieldMaster.controls[i].controls.fields.controls[idx].controls.mandatory.value">
                            <mat-option
                              *ngFor="let option of this.employmentDetailForm.controls.fieldMaster.controls[i].controls.fields.controls[idx].controls.options.value"
                              [value]="option">
                              {{ option }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>

                      <div class="col-md-4"
                        *ngIf="this.employmentDetailForm.controls.fieldMaster.controls[i].controls.fields.controls[idx].controls.fieldType.value === 'MultiLineText'">
                        <mat-form-field class="fullLength">
                          <textarea matInput
                            placeholder="{{this.employmentDetailForm.controls.fieldMaster.controls[i].controls.fields.controls[idx].controls.fieldPlaceholderValue.value}}"
                            matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5"
                            formControlName="fieldValue"
                            [required]="this.employmentDetailForm.controls.fieldMaster.controls[i].controls.fields.controls[idx].controls.mandatory.value"></textarea>
                        </mat-form-field>
                      </div>
                      <div class="col-md-4"
                        *ngIf="this.employmentDetailForm.controls.fieldMaster.controls[i].controls.fields.controls[idx].controls.fieldType.value === 'Number'">
                        <mat-form-field class="fullLength">
                          <input matInput
                            placeholder="{{this.employmentDetailForm.controls.fieldMaster.controls[i].controls.fields.controls[idx].controls.fieldPlaceholderValue.value}}"
                            type="number" formControlName="fieldValue"
                            [required]="this.employmentDetailForm.controls.fieldMaster.controls[i].controls.fields.controls[idx].controls.mandatory.value">
                        </mat-form-field>
                      </div>
                      <div class="col-md-4"
                        *ngIf="this.employmentDetailForm.controls.fieldMaster.controls[i].controls.fields.controls[idx].controls.fieldType.value === 'Date'">
                        <mat-form-field class="fullLength">
                          <!-- <input matInput [matDatepicker]="picker" placeholder="{{this.employmentDetailForm.controls.fieldMaster.controls[i].controls.fields.controls[idx].controls.fieldPlaceholderValue.value}}"
                            formControlName="fieldValue" [required]="this.employmentDetailForm.controls.fieldMaster.controls[i].controls.fields.controls[idx].controls.mandatory.value">
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker> -->
                          <input matInput type="date"
                            placeholder="{{this.employmentDetailForm.controls.fieldMaster.controls[i].controls.fields.controls[idx].controls.fieldPlaceholderValue.value}}"
                            formControlName="fieldValue"
                            [required]="this.employmentDetailForm.controls.fieldMaster.controls[i].controls.fields.controls[idx].controls.mandatory.value">
                        </mat-form-field>
                      </div>
                      <div class="col-md-4"
                        *ngIf="this.employmentDetailForm.controls.fieldMaster.controls[i].controls.fields.controls[idx].controls.fieldType.value === 'Boolean'">
                        <div class="radio-wrapper">
                          <mat-radio-group formControlName="fieldValue">
                            <mat-radio-button value="yes">Yes</mat-radio-button>
                            <mat-radio-button value="no">No</mat-radio-button>
                          </mat-radio-group>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <!-- {{this.employmentDetailForm.value | json}} -->
  </div>
</form>