<div class="main-content">
    <div class="container-fluid">
        <div class="card" style="margin-bottom:15px;">
            <div class="card-content">
                <mat-tab-group class="tabs" (selectedTabChange)="selectedTabChange($event)"
                    [selectedIndex]="selectedTab" (animationDone)="onTabChange()">
                    <mat-tab label="General Settings">
                        <app-general-leave-setting></app-general-leave-setting>
                    </mat-tab>
                    <mat-tab label="Leave Categories">
                        <app-leave-categories-setting></app-leave-categories-setting>
                    </mat-tab>
                    <mat-tab label="Templates">
                        <app-leave-tamplates></app-leave-tamplates>
                    </mat-tab>
                    <mat-tab label="Leave Assignments">
                        <app-leave-assignment></app-leave-assignment>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</div>