<mat-dialog-content>
  <div class="logo">
    <img src="assets/images/dialog-logo.png">
  </div>
  <div class="close-icon">
    <i class="material-icons" (click)="onNoClick()">close</i>
  </div>
  <h4 mat-dialog-title>Expense Template Assignment</h4>
  <form [formGroup]="addExpenceAssingment">
    <mat-form-field class="fullLength">
      <mat-select placeholder="Select Template" formControlName="templateName" (selectionChange)="selectTemplate();">
        <mat-option *ngFor="let template of expenceTemplate" [value]="template.expenseTemplateName">
          {{ template.expenseTemplateName }}
        </mat-option>
      </mat-select>
      <mat-error [hidden]="(this.addExpenceAssingment.controls.templateName.valid 
      || this.addExpenceAssingment.controls.templateName.untouched)">
        Field is Required
      </mat-error>
    </mat-form-field>
    <div *ngIf="addExpenceAssingment.controls.templateType.value == 'TEMPLATEWISE'">
      <div *ngIf="openPrimaryDiv">
        <mat-form-field class="fullLength">
          <input matInput readonly placeholder="Select Primary Approver "
            value="{{addExpenceAssingment.controls.primaryApprover.value }}">
        </mat-form-field>
      </div>
      <div *ngIf="openSecondaryDiv">
        <mat-form-field class="fullLength">
          <input matInput readonly placeholder="Select Secondary Approver "
            value="{{addExpenceAssingment.controls.secondaryApprover.value}} ">
        </mat-form-field>
      </div>
    </div>
    <div *ngIf="addExpenceAssingment.controls.templateType.value == 'EMPLOYEEWISE'">
      <div *ngIf="openApproverList">
        <div *ngIf="openPrimaryDiv">
          <p class="category">Select Primary Approver</p>
          <ng-select appendTo="body" [searchable]="true" placeholder="Select" formControlName="primaryApprover"
            class="custom-ng-select-Style">
            <ng-option *ngFor="let emp of optionsData" [value]="emp.value">
              {{ emp.viewValue }}
            </ng-option>
          </ng-select>
          <span class="dropDown-errorClass" [hidden]="(this.addExpenceAssingment.controls.primaryApprover.valid 
          || this.addExpenceAssingment.controls.primaryApprover.untouched)">
            Field is Required
          </span>
          <!-- <mat-form-field class="fullLength">
            <mat-select placeholder="Select Primary Approver" formControlName="primaryApprover" (click)="resetSearch()">
              <mat-form-field class="fullLength">
                <input type="text" placeholder="Search Employee" aria-label="Number" matInput [formControl]="myControl"
                  (keyup)="searchEmployeeName($event)">
              </mat-form-field>
              <mat-option *ngFor="let emp of optionsData" (click)="resetSearch()" [value]="emp.value">
                {{ emp.viewValue }}
              </mat-option>
            </mat-select>
            <mat-error [hidden]="(this.addExpenceAssingment.controls.primaryApprover.valid 
              || this.addExpenceAssingment.controls.primaryApprover.untouched)">
              Field is Required
            </mat-error>
          </mat-form-field> -->
        </div>
        <div *ngIf="openSecondaryDiv">
          <p class="category">Select Secondary Approver</p>
          <ng-select appendTo="body" [searchable]="true" placeholder="Select" formControlName="secondaryApprover"
            class="custom-ng-select-Style">
            <ng-option *ngFor="let emp of secondaryOptionsData" [value]="emp.value">
              {{ emp.viewValue }}
            </ng-option>
          </ng-select>
          <span class="dropDown-errorClass" [hidden]="(this.addExpenceAssingment.controls.secondaryApprover.valid 
          || this.addExpenceAssingment.controls.secondaryApprover.untouched)">
            Field is Required
          </span>
          <!-- <mat-form-field class="fullLength">
            <mat-select placeholder="Select Secondary Approver" formControlName="secondaryApprover"
              (click)="secondaryResetSearch()">
              <mat-form-field class="fullLength">
                <input type="text" placeholder="Search Employee" aria-label="Number" matInput [formControl]="myControl1"
                  (keyup)="secondarySearchEmpName($event)">
              </mat-form-field>
              <mat-option *ngFor="let emp of secondaryOptionsData" (click)="secondaryResetSearch()" [value]="emp.value">
                {{ emp.viewValue }}
              </mat-option>
            </mat-select>
            <mat-error [hidden]="(this.addExpenceAssingment.controls.secondaryApprover.valid 
              || this.addExpenceAssingment.controls.secondaryApprover.untouched)">
              Field is Required
            </mat-error>
          </mat-form-field> -->
        </div>
      </div>
    </div>
    <mat-form-field class="fullLength">
      <input matInput type="date" placeholder="Select Effective From Date" formControlName="effectiveFromDate">
      <mat-error [hidden]="(this.addExpenceAssingment.controls.effectiveFromDate.valid 
      || this.addExpenceAssingment.controls.effectiveFromDate.untouched)">
        Field is Required
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="model-footer">
    <button class="cancel-buttons" cdkFocusInitial (click)="onNoClick()"> Cancel
    </button>
    <button class="dialog-buttons" cdkFocusInitial (click)="assignTemplate()"> Save
    </button>
  </div>
</mat-dialog-actions>
