<mat-dialog-content>
    <div class="logo">
        <img src="assets/images/dialog-logo.png">
    </div>
    <div class="close-icon">
        <i class="material-icons" (click)="onNoClick()">close</i>
    </div>
    <h4 mat-dialog-title *ngIf="this.regRequestObj != null"> Approve Regularization Request</h4>
    <h4 mat-dialog-title *ngIf="this.regRequestObj == null"> New Regularization Request</h4>
    <form [formGroup]="NewRegularizeRequest">
        <mat-form-field class="fullLength">
            <input matInput type="date" placeholder="Choose a Date" formControlName="regReqDate" readonly>
            <mat-error [hidden]="(NewRegularizeRequest.controls.regReqDate.valid || 
                NewRegularizeRequest.controls.regReqDate.untouched)">
                Field is Required
            </mat-error>
        </mat-form-field>
        <mat-form-field class="fullLength">
            <mat-select *ngIf="!readonly" placeholder="Select Type of Request" formControlName="requestType"
                (selectionChange)="onChangeReqType(NewRegularizeRequest.controls.requestType.value);">
                <mat-option value="CHECK_IN">Check-in Request</mat-option>
                <mat-option value="CHECK_OUT">Check-out Request</mat-option>
                <mat-option value="CHECKIN_AND_CHECKOUT">Check-in and Check-out Request</mat-option>
            </mat-select>
            <mat-error [hidden]="(NewRegularizeRequest.controls.requestType.valid || 
                    NewRegularizeRequest.controls.requestType.untouched)">
                Field is Required
            </mat-error>

            <input matInput *ngIf="readonly" placeholder="Select Type of Request" formControlName="requestType"
                readonly>

        </mat-form-field>
        <div
            *ngIf="NewRegularizeRequest.controls.requestType.value == 'CHECK_IN' || NewRegularizeRequest.controls.requestType.value == 'CHECKIN_AND_CHECKOUT'">
            <!-- <mat-form-field class="fullLength">
                <input matInput *ngIf="!readonly" type="time" placeholder="Chech-in Time" formControlName="checkInTime"
                    atp-time-picker type="time">
                <input matInput *ngIf="readonly" placeholder="Chech-in Time" formControlName="checkInTime" readonly>
            </mat-form-field> -->
            <div style="margin-bottom: 10px;">
                <label class="input-label">Select Check-in Time</label>
                <p-calendar placeholder="Check-in Time" appendTo="body" [style]="{'width':'100%'}"
                    [inputStyle]="{'width':'95%'}" [showTime]="true" [showIcon]="true" showButtonBar="true"
                    dateFormat="dd-mm-yy" formControlName="checkInTime">
                </p-calendar>
                <span class="input-errorClass" [hidden]="(NewRegularizeRequest.controls.checkInTime.valid || 
                NewRegularizeRequest.controls.checkInTime.untouched)">
                    Field is Required
                </span>
            </div>
        </div>
        <div
            *ngIf="NewRegularizeRequest.controls.requestType.value == 'CHECK_OUT' || NewRegularizeRequest.controls.requestType.value == 'CHECKIN_AND_CHECKOUT'">
            <!-- <mat-form-field class="fullLength">
                <input matInput *ngIf="!readonly" type="time" placeholder="Chech-out Time"
                    formControlName="checkOutTime" atp-time-picker type="time">
                <input matInput *ngIf="readonly" placeholder="Chech-out Time" formControlName="checkOutTime" readonly>
            </mat-form-field> -->
            <div style="margin-bottom: 10px;">
                <label class="input-label">Select Check-out Time</label>
                <p-calendar placeholder="Check-out Time" appendTo="body" [style]="{'width':'100%'}"
                    [inputStyle]="{'width':'95%'}" [showTime]="true" [showIcon]="true" showButtonBar="true"
                    dateFormat="dd-mm-yy" formControlName="checkOutTime">
                </p-calendar>
                <span class="input-errorClass" [hidden]="(NewRegularizeRequest.controls.checkOutTime.valid || 
                NewRegularizeRequest.controls.checkOutTime.untouched)">
                    Field is Required
                </span>
            </div>
        </div>

        <mat-form-field class="fullLength">
            <mat-select placeholder="Select Shift" formControlName="shift">
                <mat-option *ngFor="let item of regShiftList" [value]="item.shiftRecordId">
                    <span class="mat-option-text" *ngIf="item.offShift==true">
                        {{item.shiftName}}
                    </span>
                    <span class="mat-option-text" *ngIf="item.offShift==false">
                        {{item.shiftName}} [{{item.shiftStartTime}} - {{item.shiftEndTime}}]
                    </span>
                </mat-option>
            </mat-select>
            <mat-error [hidden]="(NewRegularizeRequest.controls.shift.valid || 
                NewRegularizeRequest.controls.shift.untouched)">
                Field is Required
            </mat-error>
        </mat-form-field>

        <mat-form-field class="fullLength">
            <mat-select placeholder="Select Reason" formControlName="reason" [disabled]="readonly">
                <mat-option *ngFor="let item of regReasons" [value]="item.reasonId">
                    {{item.assignedReason }}
                </mat-option>
            </mat-select>
            <mat-error [hidden]="(NewRegularizeRequest.controls.reason.valid || 
                        NewRegularizeRequest.controls.reason.untouched)">
                Field is Required
            </mat-error>

            <!-- <input matInput *ngIf="readonly" placeholder="Select Reason" formControlName="reason" readonly> -->

        </mat-form-field>
        <mat-form-field class="fullLength">
            <textarea matInput *ngIf="!readonly" placeholder="Leave a comment" formControlName="comment"></textarea>
            <mat-error [hidden]="(NewRegularizeRequest.controls.comment.valid || 
            NewRegularizeRequest.controls.comment.untouched)">
                Field is Required</mat-error>

            <textarea matInput *ngIf="readonly" placeholder="Leave a comment" formControlName="comment"
                readonly></textarea>
        </mat-form-field>
        <!-- <pre>
            {{NewRegularizeRequest.value | json}}
        </pre> -->
    </form>

    <mat-dialog-actions>
        <div class="model-footer">
            <button class="cancel-buttons" cdkFocusInitial (click)="onNoClick()">Cancel
            </button>
            <button class="dialog-buttons" cdkFocusInitial (click)="onSubmitRequest();"
                *ngIf="this.regRequestObj == null">Submit
            </button>
            <button class="dialog-buttons" cdkFocusInitial (click)="approveRegularizationRequest();"
                *ngIf="this.regRequestObj != null">Approve
            </button>
        </div>
    </mat-dialog-actions>


</mat-dialog-content>
