<mat-dialog-content>
    <div class="logo">
        <img src="assets/images/dialog-logo.png">
    </div>
    <div class="close-icon">
        <i class="material-icons" (click)="onNoClick()">close</i>
    </div>
    <h4 mat-dialog-title>Are you sure you want to cancel this leave application?</h4>
    <form [formGroup]="cancelIndividualLeavesRequest">
        <mat-form-field class="fullLength">
            <textarea matInput name="comment" placeholder="Leave a Comment" formControlName="usrComment">
             </textarea>
            <mat-error [hidden]="(cancelIndividualLeavesRequest.controls.usrComment.valid || 
            cancelIndividualLeavesRequest.controls.usrComment.untouched)">
                Comment Required
            </mat-error>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <div class="model-footer">
        <button class="cancel-buttons" cdkFocusInitial (click)="onNoClick()">
            Close
        </button>
        <button class="dialog-buttons" cdkFocusInitial (click)="cancelAppliation()">
            Cancel
        </button>
    </div>
</mat-dialog-actions>
