@import "~assets/sass/md/customCSS";

.proh-border-bottom {
  border-bottom: 1px solid #eee;
  margin-bottom: 8px;
  display: inline-block;
  width: 100%;
  padding-bottom: 10px;
}

.proh-profile-media {
  display: inline-block;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  height: 164px;
  background: #ffffff;
  border: 3px solid #edf2fb;
  cursor: pointer;
}

.proh-profile-media:hover {
  background: #000;
}

.img1:hover .image {
  opacity: 0.6;
}

.img1:hover .middle {
  opacity: 1;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  transform: translateY(-50%);
  position: relative;
  display: block;
  z-index: 500;
  bottom: 50%;
}

.text {
  line-height: 1em;
  color: white !important;
}

.text>i {
  font-size: 30px;
  color: white !important;
}

.text>span {
  color: #fff;
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}

.card img {
  width: 100%;
  height: 100%;
}

.upload-btns {
  text-align: center;
  margin: 5px 0px;
}

.upload-btns i {
  border: 1px solid #4b89dc;
  padding: 3px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 18px;
  color: #ffffff;
  background: #4b89dc;
}

.profile-pic {
  max-width: 200px;
  max-height: 200px;
  display: block;
}

.file-upload {
  display: none;
}

.circle {
  border-radius: 1000px !important;
  overflow: hidden;
  width: 128px;
  height: 128px;
  border: 8px solid rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 72px;
}

.p-image {
  position: absolute; // top: 136px;
  top: 145px;
  left: 225px;
  right: 30px;
  color: #4b88dc;
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}

.p-image:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}

.upload-button {
  font-size: 1.2em;
}

.upload-button:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  color: #999;
}
