<!-- <div class="card">
    <div class="card-header"
        style="padding-top:5px;padding-bottom: 5px; padding-left: 0px;padding-top:5px;padding-bottom:5px; padding-right: 0px;background-color: #36b3c8;">
        <div data-background-color="blue">
            <div class="row">
                <div class="col-md-10">
                    <h6 style="text-transform: uppercase;font-weight: 600">Are you sure?</h6>
                </div>
                <div class="col-md-2"
                    style="float:right;padding-left:40px;padding-top:8px; vertical-align: middle; text-align: center;">
                    <i class="material-icons" style="cursor:pointer;vertical-align: middle;"
                        (click)="onNoClick()">close</i>
                </div>
            </div>
        </div>
    </div>
    <div class="card-content">
        <div>
            <h4 style="text-align: center;margin-top: 20px;margin-bottom: 20px">Do you really want to delete selected
                Template?</h4>
            <div style="text-align: center; padding-top: 7px;padding-bottom: 7px; ">
                <button class="dialog-button" cdkFocusInitial (click)="onNoClick()" style="width:76px; "
                    data-background-color="cyan"> <span class="category" style="color:#fff; display: inline;">
                        <i class="fa fa-times" aria-hidden="true"
                            style="margin-top:9px;margin-bottom:9px;font-size:18px;"></i>
                        Cancel</span>
                </button>
                <button *ngIf="type=='leave'" class="dialog-button" [mat-dialog-close]="" cdkFocusInitial
                    (click)="deleteTempData('leave')" style="width: 76px;" data-background-color="cyan"> <span
                        class="category" style="color:#fff; display: inline;">
                        <i class="fa fa-check" aria-hidden="true"
                            style="margin-top:9px;margin-bottom:9px;font-size:18px;"></i>
                        Confirm</span>
                </button>
                <button *ngIf="type=='attendance'" class="dialog-button" [mat-dialog-close]="" cdkFocusInitial
                    (click)="deleteTempData('attendance')" style="width: 76px;" data-background-color="cyan"> <span
                        class="category" style="color:#fff; display: inline;">
                        <i class="fa fa-check" aria-hidden="true"
                            style="margin-top:9px;margin-bottom:9px;font-size:18px;"></i>
                        Confirm</span>
                </button>
            </div>
        </div>
    </div>
</div> -->




<mat-dialog-content>
    <div class="logo">
        <img src="assets/images/dialog-logo.png">
    </div>
    <div class="close-icon">
        <i class="material-icons" (click)="onNoClick()">close</i>
    </div>
    <h4 mat-dialog-title> Do you really want to delete selected Template?</h4>
</mat-dialog-content>
<mat-dialog-actions>
    <div class="model-footer">
        <button class="cancel-buttons" cdkFocusInitial (click)="onNoClick()">
            Cancel
        </button>
        <button *ngIf="type=='leave'" class="dialog-buttons"cdkFocusInitial
            (click)="deleteTempData('leave')"> Confirm
        </button>
        <button *ngIf="type=='attendance'" class="dialog-buttons" cdkFocusInitial
            (click)="deleteTempData('attendance')">
            Confirm
        </button>
    </div>
</mat-dialog-actions>