<div class="card" style="box-shadow: none !important">
  <div style="text-align: right;">
    <button class="btn header-button" routerLink="/payroll/add-ctc-template">
      <span>
        <i class="fa fa-plus-square" aria-hidden="true"></i>
        CTC Template</span>
    </button>
  </div>
  <!-- <div class="example-container mat-elevation-z8" style="margin-top:10px;">
  <mat-table #table [dataSource]="dataSource">
    <ng-container matColumnDef="templateName">
      <mat-header-cell *matHeaderCellDef> Template Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.templateName}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="totalNumberOfEmployees">
      <mat-header-cell *matHeaderCellDef>Employees Covered</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.totalNumberOfEmployees}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="totalCTCAllowance">
      <mat-header-cell *matHeaderCellDef>Fixed Allowances</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.totalCTCAllowance}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="variableAllowances">
      <mat-header-cell *matHeaderCellDef>Variable Allowances</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.variableAllowances}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="employerContributions">
      <mat-header-cell *matHeaderCellDef>Employer Contributions</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.employerContributions}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="totalFixedDeduction">
      <mat-header-cell *matHeaderCellDef> Fixed Deductions </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.totalFixedDeduction}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="variableDeductions">
      <mat-header-cell *matHeaderCellDef>Variable Deductions</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.variableDeductions}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="employeeDeductions">
      <mat-header-cell *matHeaderCellDef>Employee Deductions</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.employeeDeductions}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span>
          <i class="fa fa-eye action-icon" aria-hidden="true" matTooltip="View" style="color:#4b88dc;"
            routerLink="/payroll/view-ctc-template/{{element.ctcTemplateId}}"></i>
        </span>
        <ng-template #noAction>
          <span>
            <i class="fa fa-pencil-square-o action-icon" aria-hidden="true" matTooltip="Edit" style="color:green;"
              (click)="warningNotification('You do not have access to edit CTC template')"></i>
          </span>
        </ng-template>
        <span>
          <i class="fa fa-trash-o action-icon" aria-hidden="true" matTooltip="Delete" style="color:#e03737;"
            (click)="openDeleteDialog(element)"></i>
        </span>
        <span>
          <i class="fa fa-download action-icon" aria-hidden="true" matTooltip="Download" style="color:green;"
            (click)="downloadTemplate(element)"></i>
        </span>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div> -->

  <div class="searchBox" style="text-align: right">
    <i class="fa fa-search"></i>
    <input type="text" pInputText size="50" placeholder="Search"
      (input)="dt1.filterGlobal($event.target.value, 'contains')">
  </div>
  <p-table #dt1 [columns]="columns" [value]="tableDataList" [rows]="5" [paginator]="true" [pageLinks]="5"
    [rowsPerPageOptions]="[5,10,20]" [resizableColumns]="true" [autoLayout]="true" [responsive]="true">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-car let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">
          <div *ngIf="col.field!='actions'">{{car[col.field]}}</div>
          <div class="mat-cell" *ngIf="col.field=='actions'">
            <div class="mat-element-icon">
              <!-- <span *ngIf="col.field=='actions'">
                <i class="fa fa-eye action-icon" aria-hidden="true" matTooltip="View" style="color:#4b88dc;"
                 ></i>
              </span> -->
              <span class="edit">
                <i class="fa fa-pencil-square-o" aria-hidden="true" matTooltip="Edit"
                  routerLink="/payroll/edit-ctc-template/{{car.ctcTemplateId}}"></i>
              </span>
              <span class="delete">
                <i class="fa fa-trash-o" aria-hidden="true" matTooltip="Delete" (click)="openDeleteDialog(car)"></i>
              </span>
            </div>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
