<mat-dialog-content>
    <div class="logo">
        <img src="assets/images/dialog-logo.png">
    </div>
    <div class="close-icon">
        <i class="material-icons" (click)="onNoClick()">close</i>
    </div>
    <h4 mat-dialog-title> Bulk Assign Leave Templates To Employees</h4>
    <div class="card-content">
        <p class="category" style="color:#404A56;"> Step 1: Download the excel template which contains details of all
            employees who are employed as of today</p><br>
        <p class="category" style="color:#404A56;"> Includes all your Employees with their available details.</p><br>
        <button class="btn header-button" cdkFocusInitial>
            <span><i class="fa fa-download" aria-hidden="true"></i>Download</span>
        </button>
        <br>
        <p class="category" style="color:#404A56;">Step 2: After making the necessary changes, please upload the excel
            template * <br> Note: To assign a attendance
            template, simply enter "Yes" in that specific column for that specific employee</p><br>
        <div style="border-style:ridge;">
            <input type="file" name="upload_file" />
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <div class="model-footer">
        <button class="cancel-buttons" cdkFocusInitial (click)="onNoClick()">
            cancel
        </button>
        <button class="dialog-button" cdkFocusInitial>
            upload
        </button>
    </div>
</mat-dialog-actions>