@import "~assets/sass/md/customCSS";

.col-md-6{
    padding-left:0px;padding-right: 0px;

}
.col-md-5{
    padding-right:0px;
}
 
::ng-deep .tabs  .mat-tab-labels {
    margin-top:-3px;
   height:44px;
   min-width:110px;
   text-transform: uppercase;
   font-weight: 600;
}
.mat-column-fieldName {
    flex: 0 0 300px;
  }
  .mat-nav-list .mat-list-item{
      height: 40px;
  }

.card-content .employee-section-name{
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 400;
    color: #222222;
    cursor: pointer;
    width: 100%;
    border-bottom: 1px solid #eaeaea;
    padding: 10px 0;
}