<div class="page-not-found-temp">
  <div class="msg-error-code">
    <div class="errorMsg_img">
      <img src="assets/images/error404.jpg" class="img-fluid">
    </div>
    <div class="msg-error-code-desc">
      <h2>Page not found.</h2>
      <p>We're sorry but the page you're looking for is unavailable.<br> Please be sure
        that you're using the correct URL.
      </p>
      <div>
        <button class="btn goToHome" (click)="goToNavigate()">Back to Home</button>
      </div>
    </div>
  </div>
</div>
