<mat-dialog-content>
    <div class="logo">
        <img src="assets/images/dialog-logo.png">
    </div>
    <div class="close-icon">
        <i class="material-icons" (click)="onNoClick()">close</i>
    </div>
    <h4 mat-dialog-title>Crop Image</h4>
    <div>
        <image-cropper [imageChangedEvent]="imageChangedEvent" format="jpeg" outputType="both" [cropperMinHeight]="200"
            [cropperMinWidth]="200" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
            (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()">
        </image-cropper>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <div class="model-footer">
        <button class="cancel-buttons" cdkFocusInitial (click)="onNoClick()">Cancel
        </button>
        <button class="dialog-buttons" (click)="close()" cdkFocusInitial>
            Save
        </button>
    </div>
</mat-dialog-actions>
