@import "~assets/sass/md/customCSS";
th {
    font-weight: 600;
    color: #848484;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    font-family:  'Lato', sans-serif !important;
}