<div class="main-content">
  <div class="container-fluid">
    <div class="card">
        <div class="card-header">
          <div class="pull-left">
            <h6 class="title">Short Leave</h6>
          </div>
          <div class="text-right">
              <button class="btn header-button" (click)="addShortLeaveDialog()">
                <span><i class="fa fa-plus-square" aria-hidden="true"></i>Add New Short Leave</span>
              </button>
          </div>
        </div>
        <div class="card-content">
          <div class="card-content-tab">
            <mat-tab-group class="tabs" (animationDone)="onTabChange($event)">
              <!-- PENDING TAB -->
              <mat-tab label="Pending">
                <div class="main-content">
                  <div class="container-fluid">
                    <div class="card-content">
                      <div class="text-right" style="padding: 15px 0;">
                        <button class="btn header-button" (click)="bulkActionOnLeave('APPROVED')">
                          <span>
                            <i class="fa fa-plus-square" aria-hidden="true"></i>
                            Approve</span>
                        </button>
                      </div>
                      <div class="searchBox" style="text-align: right">
                        <i class="fa fa-search"></i>
                        <input type="text" pInputText size="50" placeholder="Search"
                          (input)="dt1.filterGlobal($event.target.value, 'contains')" style="width:auto">
                      </div>
                      <p-table #dt1 [columns]="columns" [value]="pendingShortLeaves" [rows]="5" [paginator]="true" [pageLinks]="5"
                        [rowsPerPageOptions]="[5,10,20]" exportFilename="Employee_Report" [resizableColumns]="true" [autoLayout]="true"
                        [responsive]="true" exportFilename="Leave_Applications_Report" [(selection)]="checkedRowData" dataKey="shortLeaveId">
                        <ng-template pTemplate="caption">
                          <div class="ui-helper-clearfix">
                            <button type="button" pButton icon="fa fa-file-o" iconPos="left" label="Download" (click)="dt1.exportCSV()"
                              class="pull-right"></button>
                          </div>
                        </ng-template>
                        <ng-template pTemplate="header" let-columns>
                          <tr>
                            <th>
                              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                            </th>
                            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                              {{col.header}}
                              <p-sortIcon [field]="col.field"></p-sortIcon>
                            </th>
                          </tr>
                          <tr>
                            <th></th>
                            <th *ngFor="let col of columns" [ngSwitch]="col.field">
                              <p-multiSelect *ngSwitchCase="'employeeName'" appendTo="body" defaultLabel="All" [options]="filterPendingByEmp"
                                [style]="{'width':'100%'}" (onChange)="dt1.filter($event.value, col.field, 'in')"></p-multiSelect>
                            </th>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-car let-columns="columns">
                          <tr [pSelectableRow]="car">
                            <td>
                              <p-tableCheckbox [value]="car"></p-tableCheckbox>
                            </td>
                            <td *ngFor="let col of columns">
                              <div *ngIf="col.field!='action' && col.field!='startTime' && col.field!='endTime'">
                                {{car[col.field]}}</div>
                              <div *ngIf="col.field!='action' && col.field=='startTime'">
                                {{car[col.field]}}
                              </div>
                              <div *ngIf="col.field!='action' && col.field=='endTime'">
                                {{car[col.field]}}
                              </div>
                              <div class="mat-cell">
                                <div class="mat-element-icon">
                                  <div *ngIf="car.status == 'Level 1 Pending' && col.field=='action'">
                                    <span class="check">
                                      <i class="fa fa-check-square-o" aria-hidden="true" matTooltip="Approve"
                                        (click)="actionOnLeave(car.shortLeaveId, 'APPROVED')"></i>
                                    </span>
                                    <span class="view">
                                      <i class="fa fa-eye" aria-hidden="true" matTooltip="View" (click)="viewLeaveInfo(car);"></i>
                                    </span>
                                    <span class="reject">
                                      <i class="fa fa-times-circle" aria-hidden="true" matTooltip="Reject"
                                        (click)="actionOnLeave(car.shortLeaveId, 'REJECTED');"></i>
                                    </span>
                                  </div>
                                  <div *ngIf="car.status == 'Level 2 Pending'  && col.field=='action'">
                                    <span class="check">
                                      <i class="fa fa-check-square-o" aria-hidden="true" matTooltip="Approve"
                                        (click)="actionOnLeave(car.shortLeaveId, 'APPROVED')"></i>
                                    </span>
                                    <span class="view">
                                      <i class="fa fa-eye" aria-hidden="true" matTooltip="View" (click)="viewLeaveInfo(car);"></i>
                                    </span>
                                    <span class="reject">
                                      <i class="fa fa-times-circle" aria-hidden="true" matTooltip="Reject"
                                        (click)="actionOnLeave(car.shortLeaveId, 'REJECTED');"></i>
                                    </span>
                                  </div>
                                </div>
                              </div>
                            </td>
                          </tr>
                        </ng-template>
                      </p-table>
                    </div>
                  </div>
                </div>
              </mat-tab>
              <!-- APPROVED TAB -->
              <mat-tab label="Approved">
                <div class="main-content">
                  <div class="container-fluid">
                    <div class="card-content">
                      <div class="searchBox text-right" style="margin-top: 15px;">
                        <i class="fa fa-search"></i>
                        <input type="text" pInputText size="50" placeholder="Search"
                          (input)="dt2.filterGlobal($event.target.value, 'contains')" style="width:auto">
                      </div>
                      <p-table #dt2 [columns]="columns" [value]="approvedShortLeaves" [rows]="5" [paginator]="true" [pageLinks]="5"
                        [rowsPerPageOptions]="[5,10,20]" [resizableColumns]="true" [autoLayout]="true" [responsive]="true"
                        exportFilename="Leave_Applications_Report">
                        <ng-template pTemplate="caption">
                          <div class="ui-helper-clearfix">
                            <button type="button" pButton icon="fa fa-file-o" iconPos="left" label="Download" (click)="dt2.exportCSV()"
                              class="pull-right"></button>
                          </div>
                        </ng-template>
                        <ng-template pTemplate="header" let-columns>
                          <tr>
                            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                              {{col.header}}
                              <p-sortIcon [field]="col.field"></p-sortIcon>
                            </th>
                          </tr>
                          <tr>
                            <th *ngFor="let col of columns" [ngSwitch]="col.field">
                              <p-multiSelect *ngSwitchCase="'employeeName'" appendTo="body" defaultLabel="All" [options]="filterApprovedByEmp"
                                [style]="{'width':'100%'}" (onChange)="dt2.filter($event.value, col.field, 'in')"></p-multiSelect>
                            </th>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-car let-columns="columns">
                          <tr [pSelectableRow]="car">
                            <td *ngFor="let col of columns">
                              <div *ngIf="col.field!='action' && col.field!='startTime' && col.field!='endTime'">
                                {{car[col.field]}}</div>
                              <div *ngIf="col.field!='action' && col.field=='startTime'">
                                {{car[col.field]}}
                              </div>
                              <div *ngIf="col.field!='action' && col.field=='endTime'">
                                {{car[col.field]}}
                              </div>
                              <div class="mat-cell" *ngIf="col.field=='action'">
                                <div class="mat-element-icon">
                                  <div *ngIf="car.status == 'Approved'">
                                    <span class="view">
                                      <i class="fa fa-eye" aria-hidden="true" matTooltip="View" (click)="viewLeaveInfo(car);"></i>
                                    </span>
                                    <span class="ban">
                                      <i class="fa fa-ban" aria-hidden="true" (click)="actionOnLeave(car.shortLeaveId, 'CANCELLED')" matTooltip="Cancel"></i>
                                    </span>
                                  </div>
                                </div>
                              </div>
                            </td>
                          </tr>
                        </ng-template>
                      </p-table>
                    </div>
                  </div>
                </div>
              </mat-tab>
              <!-- CANCELLED TAB -->
              <mat-tab label="Cancelled">
                <div class="main-content">
                  <div class="container-fluid">
                    <div class="card-content">
                      <div class="searchBox text-right" style="margin-top: 15px;">
                        <i class="fa fa-search"></i>
                        <input type="text" pInputText size="50" placeholder="Search"
                          (input)="dt3.filterGlobal($event.target.value, 'contains')" style="width:auto">
                      </div>
                      <p-table #dt3 [columns]="columns" [value]="cancelledShortLeaves" [rows]="5" [paginator]="true"
                        [pageLinks]="5" [rowsPerPageOptions]="[5,10,20]" [resizableColumns]="true" [autoLayout]="true"
                        [responsive]="true" exportFilename="Leave_Applications_Report">
                        <ng-template pTemplate="caption">
                          <div class="ui-helper-clearfix">
                            <button type="button" pButton icon="fa fa-file-o" iconPos="left" label="Download" (click)="dt3.exportCSV()"
                              class="pull-right"></button>
                          </div>
                        </ng-template>
                        <ng-template pTemplate="header" let-columns>
                          <tr>
                            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                              {{col.header}}
                              <p-sortIcon [field]="col.field"></p-sortIcon>
                            </th>
                          </tr>
                          <tr>
                            <th *ngFor="let col of columns" [ngSwitch]="col.field">
                              <p-multiSelect *ngSwitchCase="'employeeName'" appendTo="body" defaultLabel="All" [options]="filterCancelledByEmp"
                                [style]="{'width':'100%'}" (onChange)="dt3.filter($event.value, col.field, 'in')"></p-multiSelect>
                            </th>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-car let-columns="columns">
                          <tr [pSelectableRow]="car">
                            <td *ngFor="let col of columns">
                              <div *ngIf="col.field!='action' && col.field!='startTime' && col.field!='endTime'">
                                {{car[col.field]}}</div>
                              <div *ngIf="col.field!='action' && col.field=='startTime'">
                                {{car[col.field]}}
                              </div>
                              <div *ngIf="col.field!='action' && col.field=='endTime'">
                                {{car[col.field]}}
                              </div>
                              <div class="mat-cell" *ngIf="col.field=='action'">
                                <div class="mat-element-icon">
                                  <div *ngIf="car.status == 'Cancelled'">
                                    <span class="view">
                                      <i class="fa fa-eye" aria-hidden="true" matTooltip="View" (click)="viewLeaveInfo(car);"></i>
                                    </span>
                                  </div>
                                </div>
                              </div>
                            </td>
                          </tr>
                        </ng-template>
                      </p-table>
                    </div>
                  </div>
                </div>
              </mat-tab>
              <!-- REJECTED TAB -->
              <mat-tab label="Rejected">
                <div class="main-content">
                  <div class="container-fluid">
                    <div class="card-content">
                      <div class="searchBox text-right" style="margin-top: 15px;">
                        <i class="fa fa-search"></i>
                        <input type="text" pInputText size="50" placeholder="Search"
                          (input)="dt4.filterGlobal($event.target.value, 'contains')" style="width:auto">
                      </div>
                      <p-table #dt4 [columns]="columns" [value]="rejectedShortLeaves" [rows]="5" [paginator]="true" [pageLinks]="5"
                        [rowsPerPageOptions]="[5,10,20]" [resizableColumns]="true" [autoLayout]="true" [responsive]="true"
                        exportFilename="Leave_Applications_Report">
                        <ng-template pTemplate="caption">
                          <div class="ui-helper-clearfix">
                            <button type="button" pButton icon="fa fa-file-o" iconPos="left" label="Download" (click)="dt4.exportCSV()"
                              class="pull-right"></button>
                          </div>
                        </ng-template>
                        <ng-template pTemplate="header" let-columns>
                          <tr>
                            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                              {{col.header}}
                              <p-sortIcon [field]="col.field"></p-sortIcon>
                            </th>
                          </tr>
                          <tr>
                            <th *ngFor="let col of columns" [ngSwitch]="col.field">                              
                              <p-multiSelect *ngSwitchCase="'employeeName'" appendTo="body" defaultLabel="All" [options]="filterRejectedByEmp"
                                [style]="{'width':'100%'}" (onChange)="dt4.filter($event.value, col.field, 'in')"></p-multiSelect>
                            </th>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-car let-columns="columns">
                          <tr [pSelectableRow]="car">
                            <td *ngFor="let col of columns">
                              <div *ngIf="col.field!='action' && col.field!='startTime' && col.field!='endTime'">
                                {{car[col.field]}}</div>
                              <div *ngIf="col.field!='action' && col.field=='startTime'">
                                {{car[col.field]}}
                              </div>
                              <div *ngIf="col.field!='action' && col.field=='endTime'">
                                {{car[col.field]}}
                              </div>
                              <div class="mat-cell">
                                <div class="mat-element-icon" *ngIf="col.field=='action' && car.status == 'Rejected'">
                                  <span class="view">
                                    <i class="fa fa-eye" aria-hidden="true" matTooltip="View" (click)="viewLeaveInfo(car);"></i>
                                  </span>
                                </div>
                              </div>
                            </td>
                          </tr>
                        </ng-template>
                      </p-table>
                    </div>
                  </div>
                </div>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
    </div>
  </div>
</div>
