<mat-dialog-content>
  <div class="logo">
    <img src="assets/images/dialog-logo.png">
  </div>
  <div class="close-icon">
    <i class="material-icons" (click)="onNoClick()">close</i>
  </div>
  <h4 mat-dialog-title>Category Details</h4>
  <form [formGroup]="createCategoryForm">
    <mat-form-field class="fullLength">
      <input matInput formControlName="categoryName" placeholder="Asset Category Name" />
      <mat-error [hidden]="(createCategoryForm.controls.categoryName.valid || 
        createCategoryForm.controls.categoryName.untouched)">
        This field is required.
      </mat-error>
    </mat-form-field>
    <mat-form-field class="fullLength">
      <textarea matInput formControlName="categoryDescription" placeholder="Description"></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="model-footer">
    <button class="cancel-buttons" cdkFocusInitial (click)="onNoClick()">Cancel
    </button>
    <button class="dialog-buttons" cdkFocusInitial *ngIf="this.action == 'add'" (click)="createAssetCategory()">
      Save
    </button>
    <button class="dialog-buttons" cdkFocusInitial *ngIf="this.action == 'update'" (click)="updateAssetCategory()">
      Update
    </button>

  </div>
</mat-dialog-actions>