<div class="card" style="box-shadow: none !important;">
  <div>
    <div style="text-align: right;margin-bottom: 10px;">
      <div *ngIf="readonly">
        <button class="btn header-button" (click)="edit(payrollGeneralSettingForm)">
          <span>
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            Edit</span>
        </button>
      </div>
      <div *ngIf="readwrite">
        <button class=" btn header-button" (click)="cancel()" style="margin-right: 10px;">
          <span>
            <i class="fa fa-times" aria-hidden="true"></i>
            Cancel</span>
        </button>
        <button class=" btn header-button" (click)="saveGeneralPayrollSetting(payrollGeneralSettingForm)">
          <span>
            <i class="fa fa-floppy-o" aria-hidden="true"></i>
            Save</span>
        </button>
      </div>
    </div>
  </div>
  <!-- <ng-template #payrollGenSettViewOnly>
    <div class="card-header">
      <h6 class="title">Payroll General Settings</h6>
    </div>
  </ng-template> -->
  <div class="card-content">
    <div *ngIf="readwrite">
      <form [formGroup]="payrollGeneralSettingForm">
        <div class="row">
          <div class="col-md-8">
            <p class="category">What day of the month do you run your payroll? *</p>
          </div>
          <div class="col-md-4">
            <ng-select [items]="dayList" bindLabel="viewValue" appendTo="body" bindValue="value" placeholder="Select" formControlName="runPayrollDay">
            </ng-select>
            <span class="category" style="color: red;margin-left:7px" [hidden]="(this.payrollGeneralSettingForm.controls.runPayrollDay.valid 
            || this.payrollGeneralSettingForm.controls.runPayrollDay.untouched )">
              Field is required
            </span>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8">
            <p class="category">Select Payroll Approver *</p>
          </div>
          <div class="col-md-4">
            <div>
              <ng-select [items]="employeeList" bindLabel="viewValue" appendTo="body" bindValue="value" placeholder="Select" formControlName="runPayrollEmpCode">
              </ng-select>
            </div>
            <span class="category" style="color: red;margin-left:7px" [hidden]="(this.payrollGeneralSettingForm.controls.runPayrollEmpCode.valid 
            || this.payrollGeneralSettingForm.controls.runPayrollEmpCode.untouched )">
              Field is required
            </span>
          </div>
        </div>



        <div class="row">
          <div class="col-md-8">
            <p class="category">On What day of the month does your attendance cycle begin? *</p>
          </div>
          <div class="col-md-4">
            <ng-select [items]="dayList" bindLabel="viewValue" appendTo="body" bindValue="value" placeholder="Select" formControlName="attendanceCycleBeginDay">
            </ng-select>
            <span class="category" style="color: red;margin-left:7px" [hidden]="(this.payrollGeneralSettingForm.controls.attendanceCycleBeginDay.valid 
                || this.payrollGeneralSettingForm.controls.attendanceCycleBeginDay.untouched )">
              Field is required
            </span>
          </div>
        </div>



        <!-- <div class="row read-only-row">
          <div class="col-md-8">
            <p class="category">Are the total payable days in the month the same as the number of days in the attendance cycle?
            </p>
          </div>
          <div class="col-md-4">
            <div class="radio-wrapper">
              <mat-radio-group class="fullLength" formControlName="isPayableDaysEqualToAttendanceDays">
                <mat-radio-button value="true">Yes</mat-radio-button>
                <mat-radio-button value="false">No</mat-radio-button>
              </mat-radio-group>
            </div>
            <span class="category" style="color: red;margin-left:7px" [hidden]="(this.payrollGeneralSettingForm.controls.isPayableDaysEqualToAttendanceDays.valid 
            || this.payrollGeneralSettingForm.controls.isPayableDaysEqualToAttendanceDays.untouched )">
              Field is required
            </span>
          </div>
        </div> -->


        <div class="row">
          <div class="col-md-8">
            <p class="category">Do you want to keep password for salary register or not? *</p>
          </div>
          <div class="col-md-4">
            <div class="radio-wrapper">
              <mat-radio-group class="fullLength" formControlName="isPasswordMandatory" (change)="radioChangePasswordProtect($event)">
                <mat-radio-button value="true">Yes</mat-radio-button>
                <mat-radio-button value="false">No</mat-radio-button>
              </mat-radio-group>
            </div>
            <span class="category" style="color: red;margin-left:7px" [hidden]="(this.payrollGeneralSettingForm.controls.isPasswordMandatory.valid 
            || this.payrollGeneralSettingForm.controls.isPasswordMandatory.untouched )">
              Field is required
            </span>
          </div>
        </div>

        <div class="row read-only-row" *ngIf="this.payrollGeneralSettingForm.controls.isPasswordMandatory.value=='true'">
          <div class="col-md-8">
            <p class="category">Please enter password for salary register</p>
          </div>
          <div class="col-md-4">
            <mat-form-field class="fullLength">
              <input matInput placeholder="Password" type="password" formControlName="password">
            </mat-form-field>
            <span class="category" style="color: red;" [hidden]="(this.payrollGeneralSettingForm.controls.password.valid 
            || this.payrollGeneralSettingForm.controls.password.untouched )">
              Field is required
            </span>
          </div>

        </div>

        <!-- <div class="row read-only-row">
          <div class="col-md-8">
            <p class="category">How would you like to add LOPs days while running the Payroll? *</p>
          </div>
          <div class="col-md-4">
            <ng-select [items]="payrollLopDaysTypeArr" bindLabel="viewValue" bindValue="value" placeholder="Select" formControlName="payrollLopDaysType">
            </ng-select>
            <span class="category" style="color: red;margin-left:7px" [hidden]="(this.payrollGeneralSettingForm.controls.payrollLopDaysType.valid 
            || this.payrollGeneralSettingForm.controls.payrollLopDaysType.untouched )">
              Field is required
            </span>
          </div>
        </div> -->

        <div class="row">
          <div class="col-md-8">
            <p class="category">Is Company eligible for Gratuity?</p>
          </div>
          <div class="col-md-4">
            <div class="radio-wrapper">
              <mat-radio-group class="fullLength" formControlName="isGratuityEligible" (change)="radioChangeGratutity($event)">
                <mat-radio-button value="true">Yes</mat-radio-button>
                <mat-radio-button value="false">No</mat-radio-button>
              </mat-radio-group>
            </div>
            <span class="category" style="color: red;margin-left:7px" [hidden]="(this.payrollGeneralSettingForm.controls.isGratuityEligible.valid 
            || this.payrollGeneralSettingForm.controls.isGratuityEligible.untouched )">
              Field is required
            </span>
          </div>
        </div>

        <div class="row" *ngIf="this.payrollGeneralSettingForm.controls.isGratuityEligible.value=='true'">
          <div class="col-md-8">
            <p class="category">Enter Percentage for Gratuity</p>
          </div>
          <div class="col-md-4">
            <div class="radio-wrapper">
              <mat-form-field class="fullLength">
                <input pattern="^(100|\d{0,2})(\.\d{1,2})?$" matInput placeholder="Percentage for Gratuity" formControlName="gratuityPercentage">
              </mat-form-field>
            </div>
            <span class="category" style="color: red;" *ngIf="(this.payrollGeneralSettingForm.controls.gratuityPercentage.value === '' || this.payrollGeneralSettingForm.controls.gratuityPercentage.value === null)">
              Field is required
            </span>
            <span class="category" style="color: red;" *ngIf="(!this.payrollGeneralSettingForm.controls.gratuityPercentage.valid) && !(this.payrollGeneralSettingForm.controls.gratuityPercentage.value === '' || this.payrollGeneralSettingForm.controls.gratuityPercentage.value === null)">
              Upto 2 digits with 2 decimal value allowed
            </span>
          </div>
        </div>


        <div class="row" *ngIf="this.payrollGeneralSettingForm.controls.isGratuityEligible.value=='true'">
          <div class="col-md-8">
            <p class="category">Select Components on which Gratuity is calculated</p>
          </div>
          <div class="col-md-4">

            <ng-select #select [items]="optionsData" class="custom-ng-select-StyleModal" [multiple]="true" bindLabel="name" bindValue="fixedAllowanceId"
              bind groupBy="type" [selectableGroup]="true" dropdownPosition="auto" [selectableGroupAsModel]="false" [closeOnSelect]="false"
              [selectableGroupAsModel]="false" formControlName="grComponents">
              <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" [ngModelOptions]="{ standalone : true }" /> {{item.type}}
              </ng-template>
              <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" [ngModelOptions]="{ standalone : true }" /> {{item.name}}
              </ng-template>
            </ng-select>
            <span class="category" style="color: red;margin-left:7px" [hidden]="(this.payrollGeneralSettingForm.controls.grComponents.valid 
            || this.payrollGeneralSettingForm.controls.grComponents.untouched )">
              Field is required
            </span>
          </div>
        </div>


        <!-- <div class="row read-only-row">
          <div class="col-md-8">
            <p class="category">Do you wish to calculate statutory deductions while processing Offcycle?</p>
          </div>
          <div class="col-md-4">
            <div class="radio-wrapper">
              <mat-radio-group class="fullLength" formControlName="statuatoryEffectsPayrollOffCycle" (change)="statuatoryEffectsPayrollOffCycleChange($event)">
                <mat-radio-button value="true">Yes</mat-radio-button>
                <mat-radio-button value="false">No</mat-radio-button>
              </mat-radio-group>
            </div>
            <span class="category" style="color: red;margin-left:7px" [hidden]="(this.payrollGeneralSettingForm.controls.statuatoryEffectsPayrollOffCycle.valid 
            || this.payrollGeneralSettingForm.controls.statuatoryEffectsPayrollOffCycle.untouched )">
              Field is required
            </span>
          </div>
        </div> -->

        <div class="row read-only-row">
          <div class="col-md-8">
            <p class="category">How would you like to calculate Leave Encashment?</p>
          </div>
          <div class="col-md-4">
            <ng-select #select [items]="optionsData" appendTo="body" [multiple]="true" bindLabel="name" bindValue="fixedAllowanceId"
              bind groupBy="type" [selectableGroup]="true" dropdownPosition="auto" [selectableGroupAsModel]="false" [closeOnSelect]="false"
              [selectableGroupAsModel]="false" formControlName="leComponents">
              <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" [ngModelOptions]="{ standalone : true }" /> {{item.type}}
              </ng-template>
              <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" [ngModelOptions]="{ standalone : true }" /> {{item.name}}
              </ng-template>
            </ng-select>
            <span class="category" style="color: red;margin-left:7px" [hidden]="(this.payrollGeneralSettingForm.controls.leComponents.valid 
            || this.payrollGeneralSettingForm.controls.leComponents.untouched )">
              Field is required
            </span>
          </div>
        </div>

        <div class="row read-only-row">
          <div class="col-md-8">
            <p class="category">What is the denominator for calculating the Encashment?</p>
          </div>
          <div class="col-md-4">
            <ng-select [items]="encashmentDenomiatorArr" bindLabel="viewValue" appendTo="body" bindValue="value" placeholder="Select"
              formControlName="leaveEncashmentDenominator">
            </ng-select>
            <span class="category" style="color: red;margin-left:7px" [hidden]="(this.payrollGeneralSettingForm.controls.leaveEncashmentDenominator.valid 
            || this.payrollGeneralSettingForm.controls.leaveEncashmentDenominator.untouched )">
              Field is required
            </span>
          </div>
        </div>

        <div class="row read-only-row">
          <div class="col-md-8">
            <p class="category">In which month do you wish to pay out rollover leave encashment for employees? *</p>
          </div>
          <div class="col-md-4">
            <ng-select #select [items]="leaveEncashmentRolloverMonthArr" appendTo="body" [multiple]="true" bindLabel="viewValue" bindValue="value"
              bind groupBy="type" [selectableGroup]="true" dropdownPosition="auto" [selectableGroupAsModel]="false" [closeOnSelect]="false"
              [selectableGroupAsModel]="false" formControlName="encashmentRolloverMonth">
              <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" [ngModelOptions]="{ standalone : true }" /> {{item.type}}
              </ng-template>
              <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" [ngModelOptions]="{ standalone : true }" /> {{item.viewValue}}
              </ng-template>
            </ng-select>
            <span class="category" style="color: red;margin-left:7px" [hidden]="(this.payrollGeneralSettingForm.controls.encashmentRolloverMonth.valid 
            || this.payrollGeneralSettingForm.controls.encashmentRolloverMonth.untouched )">
              Field is required
            </span>


          </div>
        </div>

        <div class="row read-only-row">
          <div class="col-md-8">
            <p class="category">How would you like to calculate Leave Recovery?</p>
          </div>
          <div class="col-md-4">
            <ng-select #select [items]="optionsData" appendTo="body" [multiple]="true" bindLabel="name" bindValue="fixedAllowanceId"
              bind groupBy="type" [selectableGroup]="true" dropdownPosition="auto" [selectableGroupAsModel]="false" [closeOnSelect]="false"
              [selectableGroupAsModel]="false" formControlName="lrComponents">
              <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" [ngModelOptions]="{ standalone : true }" /> {{item.type}}
              </ng-template>
              <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" [ngModelOptions]="{ standalone : true }" /> {{item.name}}
              </ng-template>
            </ng-select>
            <span class="category" style="color: red;margin-left:7px" [hidden]="(this.payrollGeneralSettingForm.controls.lrComponents.valid 
            || this.payrollGeneralSettingForm.controls.lrComponents.untouched )">
              Field is required
            </span>
          </div>
        </div>

        <div class="row read-only-row">
          <div class="col-md-8">
            <p class="category">What is the denominator for calculating the Leave Recovery? *</p>
          </div>
          <div class="col-md-4">
            <ng-select [items]="encashmentDenomiatorArr" appendTo="body" bindLabel="viewValue" bindValue="value" placeholder="Select value"
              formControlName="leaveRecoveryDenominator">
            </ng-select>
            <span class="category" style="color: red;margin-left:7px" [hidden]="(this.payrollGeneralSettingForm.controls.leaveRecoveryDenominator.valid 
            || this.payrollGeneralSettingForm.controls.leaveRecoveryDenominator.untouched )">
              Field is required
            </span>
          </div>
        </div>

        <div class="row read-only-row">
          <div class="col-md-8">
            <p class="category">Is Notice Period Recovery applicable? *</p>
          </div>
          <div class="col-md-4">
            <div class="radio-wrapper">
              <mat-radio-group class="fullLength" formControlName="isNoticePeriodRecovery" (change)="noticePeriodRecoveryApplicableChange($event)">
                <mat-radio-button value="true">Yes</mat-radio-button>
                <mat-radio-button value="false">No</mat-radio-button>
              </mat-radio-group>
            </div>
            <span class="category" style="color: red;margin-left:7px" [hidden]="(this.payrollGeneralSettingForm.controls.isNoticePeriodRecovery.valid 
            || this.payrollGeneralSettingForm.controls.isNoticePeriodRecovery.untouched )">
              Field is required
            </span>
          </div>
        </div>

        <div class="row read-only-row" *ngIf="this.payrollGeneralSettingForm.controls.isNoticePeriodRecovery.value=='true'">
          <div class="col-md-8">
            <p class="category">How would you like to calculate Notice Period Recovery?</p>
          </div>
          <div class="col-md-4">
            <ng-select #select [items]="optionsData" appendTo="body" [multiple]="true" bindLabel="name" bindValue="fixedAllowanceId"
              bind groupBy="type" [selectableGroup]="true" dropdownPosition="auto" [selectableGroupAsModel]="false" [closeOnSelect]="false"
              [selectableGroupAsModel]="false" formControlName="npComponents">
              <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" [ngModelOptions]="{ standalone : true }" /> {{item.type}}
              </ng-template>
              <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" [ngModelOptions]="{ standalone : true }" /> {{item.name}}
              </ng-template>
            </ng-select>
            <span class="category" style="color: red;margin-left:7px" [hidden]="(this.payrollGeneralSettingForm.controls.npComponents.valid 
            || this.payrollGeneralSettingForm.controls.npComponents.untouched )">
              Field is required
            </span>
          </div>
        </div>

        <div class="row read-only-row" *ngIf="this.payrollGeneralSettingForm.controls.isNoticePeriodRecovery.value=='true'">
          <div class="col-md-8">
            <p class="category">What is the denominator for calculating the Notice Recovery? *</p>
          </div>
          <div class="col-md-4">
            <ng-select [items]="encashmentDenomiatorArr" appendTo="body" bindLabel="viewValue" bindValue="value" placeholder="Select value"
              formControlName="noticePeriodRecoveryDenominator">
            </ng-select>
            <span class="category" style="color: red;margin-left:7px" [hidden]="(this.payrollGeneralSettingForm.controls.noticePeriodRecoveryDenominator.valid 
            || this.payrollGeneralSettingForm.controls.noticePeriodRecoveryDenominator.untouched )">
              Field is required
            </span>
          </div>
        </div>
      </form>
    </div>

    <div *ngIf="readonly">
      <form [formGroup]="payrollGeneralSettingForm">
        <div class="row read-only-row">
          <div class="col-md-8">
            <p class="category">What day of the month do you run your payroll? *</p>
          </div>
          <div class="col-md-4">
            <p class="category">
              {{this.payrollGeneralSettingForm.controls.runPayrollDay.value}}</p>
          </div>
        </div>

        <div class="row read-only-row">
          <div class="col-md-8">
            <p class="category">Select Payroll Approver *</p>
          </div>
          <div class="col-md-4">
            <p class="category" style="font-weight:600;">
              {{this.payrollGeneralSettingForm.controls.runPayrollEmpCode.value}}</p>
          </div>
        </div>

        <div class="row read-only-row">
          <div class="col-md-8">
            <p class="category">On What day of the month does your attendance cycle being?</p>
          </div>
          <div class="col-md-4">
            <p class="category">
              {{this.payrollGeneralSettingForm.controls.attendanceCycleBeginDay.value}}</p>
          </div>
        </div>


        <div class="row read-only-row">
          <div class="col-md-8">
            <p class="category">Do you want to keep password for salary register or not? *</p>
          </div>
          <div class="col-md-4">
            <span *ngIf="this.payrollGeneralSettingForm.controls.isPasswordMandatory.value=='true'" style="padding:3px;">
              <i class="fa fa-check-circle" aria-hidden="true" style="font-size:20px;color:green;vertical-align: middle;cursor:pointer;"></i>
            </span>
            <span *ngIf="this.payrollGeneralSettingForm.controls.isPasswordMandatory.value=='false'" style="padding:3px;">
              <i class="fa fa-times-circle" aria-hidden="true" style="font-size:20px;color:#e03737;vertical-align: top;cursor:pointer;"></i>
            </span>
          </div>
        </div>

        <div class="row read-only-row" *ngIf="this.payrollGeneralSettingForm.controls.isPasswordMandatory.value=='true'">
          <div class="col-md-8">
            <p class="category">Please enter password for salary register *</p>
          </div>
          <div class="col-md-4">
            <p class="category" style="font-weight:600;" type="password">*******</p>
          </div>
        </div>

        <!-- <div class="row read-only-row">
          <div class="col-md-8">
            <p class="category">How would you like to add LOPs days while running the Payroll? *</p>
          </div>
          <div class="col-md-4">
            <p *ngIf="this.payrollGeneralSettingForm.controls.payrollLopDaysType.value=='SELECT_DATES'" class="category" style="font-weight:600;">Select Dates</p>
            <p *ngIf="this.payrollGeneralSettingForm.controls.payrollLopDaysType.value=='NUMBER'" class="category" style="font-weight:600;">Enter Number of LOP days</p>
          </div>
        </div> -->




        <div class="row read-only-row">
          <div class="col-md-8">
            <p class="category">Is Company eligible for Gratuity?</p>
          </div>
          <div class="col-md-4">
            <span *ngIf="this.payrollGeneralSettingForm.controls.isGratuityEligible.value=='true'" style="padding:3px;">
              <i class="fa fa-check-circle" aria-hidden="true" style="font-size:20px;color:green;vertical-align: middle;cursor:pointer;"></i>
            </span>
            <span *ngIf="this.payrollGeneralSettingForm.controls.isGratuityEligible.value=='false'" style="padding:3px;">
              <i class="fa fa-times-circle" aria-hidden="true" style="font-size:20px;color:#e03737;vertical-align: top;cursor:pointer;"></i>
            </span>
          </div>
        </div>

        <div class="row" *ngIf="this.payrollGeneralSettingForm.controls.isGratuityEligible.value=='true'">
          <div class="col-md-8">
            <p class="category">Enter Percentage for Gratuity</p>
          </div>
          <div class="col-md-4">
            <p class="category" style="font-weight:600;">
              {{this.payrollGeneralSettingForm.controls.gratuityPercentage.value}}</p>
          </div>
        </div>


        <div class="row read-only-row" *ngIf="this.payrollGeneralSettingForm.controls.isGratuityEligible.value=='true'">
          <div class="col-md-8">
            <p class="category">Select Components on which Gratuity is calculated</p>
          </div>
          <div class="col-md-4">
            <p class="category" style="font-weight:600;">
              {{this.payrollGeneralSettingForm.controls.grAllowanceNames.value}}
            </p>
          </div>
        </div>

        <!-- <div class="row read-only-row">
          <div class="col-md-8">
            <p class="category">Do you wish to calculate statutory deductions while processing Offcycle?</p>
          </div>
          <div class="col-md-4">
            <span *ngIf="this.payrollGeneralSettingForm.controls.statuatoryEffectsPayrollOffCycle.value=='true'" style="padding:3px;">
              <i class="fa fa-check-circle" aria-hidden="true" style="font-size:20px;color:green;vertical-align: middle;cursor:pointer;"></i>
            </span>
            <span *ngIf="this.payrollGeneralSettingForm.controls.statuatoryEffectsPayrollOffCycle.value=='false'" style="padding:3px;">
              <i class="fa fa-times-circle" aria-hidden="true" style="font-size:20px;color:#e03737;vertical-align: top;cursor:pointer;"></i>
            </span>
          </div>
        </div> -->

        <div class="row read-only-row">
          <div class="col-md-8">
            <p class="category">How would you like to calculate Leave Encashment?</p>
          </div>
          <div class="col-md-4">
            <p class="category" style="font-weight:600;">
              {{this.payrollGeneralSettingForm.controls.leAllowanceNames.value}}
            </p>
          </div>
        </div>

        <div class="row read-only-row">
          <div class="col-md-8">
            <p class="category">What is the denominator for calculating the Encashment?</p>
          </div>
          <div class="col-md-4">
            <p class="category" style="font-weight:600;">
              {{this.payrollGeneralSettingForm.controls.leaveEncashmentDenominator.value}}
            </p>
          </div>
        </div>

        <div class="row read-only-row">
          <div class="col-md-8">
            <p class="category">In which month do you wish to pay out rollover leave encashment for employees? *</p>
          </div>
          <div class="col-md-4">
            <p class="category" style="font-weight:600;">
              {{this.payrollGeneralSettingForm.controls.encashmentRolloverMonth.value}}
            </p>
          </div>
        </div>

        <div class="row read-only-row">
          <div class="col-md-8">
            <p class="category">How would you like to calculate Leave Recovery?</p>
          </div>
          <div class="col-md-4">
            <p class="category" style="font-weight:600;">
              {{this.payrollGeneralSettingForm.controls.lrAllowanceNames.value}}
            </p>
          </div>
        </div>

        <div class="row read-only-row">
          <div class="col-md-8">
            <p class="category">What is the denominator for calculating the Leave Recovery? *</p>
          </div>
          <div class="col-md-4">
            <p class="category" style="font-weight:600;">
              {{this.payrollGeneralSettingForm.controls.leaveRecoveryDenominator.value}}
            </p>
          </div>
        </div>

        <div class="row read-only-row">
          <div class="col-md-8">
            <p class="category">Is Notice Period Recovery applicable? *</p>
          </div>
          <div class="col-md-4">
            <span *ngIf="this.payrollGeneralSettingForm.controls.isNoticePeriodRecovery.value=='true'" style="padding:3px;">
              <i class="fa fa-check-circle" aria-hidden="true" style="font-size:20px;color:green;vertical-align: middle;cursor:pointer;"></i>
            </span>
            <span *ngIf="this.payrollGeneralSettingForm.controls.isNoticePeriodRecovery.value=='false'" style="padding:3px;">
              <i class="fa fa-times-circle" aria-hidden="true" style="font-size:20px;color:#e03737;vertical-align: top;cursor:pointer;"></i>
            </span>
          </div>
        </div>

        <div class="row read-only-row" *ngIf="this.payrollGeneralSettingForm.controls.isNoticePeriodRecovery.value=='true'">
          <div class="col-md-8">
            <p class="category">How would you like to calculate Notice Period Recovery?</p>
          </div>
          <div class="col-md-4">
            <p class="category" style="font-weight:600;">
              {{this.payrollGeneralSettingForm.controls.npAllowanceNames.value}}
            </p>
          </div>
        </div>

        <div class="row read-only-row" *ngIf="this.payrollGeneralSettingForm.controls.isNoticePeriodRecovery.value=='true'">
          <div class="col-md-8">
            <p class="category">What is the denominator for calculating the Notice Recovery? *</p>
          </div>
          <div class="col-md-4">
            <p class="category" style="font-weight:600;">
              {{this.payrollGeneralSettingForm.controls.noticePeriodRecoveryDenominator.value}}
            </p>
          </div>
        </div>
      </form>
    </div>


  </div>
</div>


<div class="card" style="box-shadow: none !important;">
  <div class="card-header">
    <div style="float:left;">
      <h6 class="title">PF Templates</h6>
    </div>
    <div style="text-align: right;">
      <button class="btn header-button" (click)="openAddTemplateDialog()">
        <span>
          <i aria-hidden="true" class="fa fa-plus-square"></i>
          Add Template</span>
      </button>
    </div>
  </div>
  <div class="card-content">
    <div class="searchBox" style="text-align: right">
      <i class="fa fa-search"></i>
      <input type="text" pInputText size="50" placeholder="Search" (input)="dt1.filterGlobal($event.target.value, 'contains')"
        style="width:auto">
    </div>
    <p-table #dt1 [columns]="columns" [value]="pftTemplateAllowanceList" [rows]="5" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[5,10,20]"
      [resizableColumns]="true" [autoLayout]="true" [responsive]="true">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field">
            {{col.header}}
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-car let-columns="columns">
        <tr>
          <td *ngFor="let col of columns">
            <div *ngIf="col.field!='action'"> {{car[col.field]}}</div>
            <div class="mat-cell" *ngIf="col.field=='action'">
              <div class="mat-element-icon">
                <span class=" edit" matTooltip="Update" (click)="openUpdateTemplateDialog(car)">
                  <i class="fa fa-pencil-square-o"></i>
                </span>
                <span class="delete" matTooltip="Delete" (click)="openDeleteTemplate(car)">
                  <i class="fa fa-trash-o"></i>
                </span>
              </div>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<!-- <pre>
  {{payrollGeneralSettingForm.value |json}}
</pre> -->