@import "~assets/sass/md/customCSS";
.payslip-element-icon span{padding: 5px;}
.payslip-element-icon .view-payslip{font-size: 16px;color: #012454;vertical-align: middle;cursor: pointer;}
.payslip-element-icon .publish-payslip{font-size: 16px;color: #007f00;vertical-align: middle;cursor: pointer;}
.payslip-element-icon .un-publish-payslip{font-size: 16px;color: #e03737;vertical-align: middle;cursor: pointer;}