<mat-dialog-content>
    <div class="logo">
        <img src="assets/images/dialog-logo.png">
    </div>
    <div class="close-icon">
        <i class="material-icons" (click)="onNoClick()">close</i>
    </div>
    <h4 mat-dialog-title>Department Details</h4>
    <form [formGroup]="createDepartmentForm">
        <mat-form-field class="fullLength">
            <input matInput formControlName="deptName" placeholder="Department Name" />
            <mat-error [hidden]="(createDepartmentForm.controls.deptName.valid || 
        createDepartmentForm.controls.deptName.untouched)">
                This field is required.
            </mat-error>
        </mat-form-field>
        <mat-form-field class="fullLength">
            <input matInput placeholder="Department Code" formControlName="deptCode" />
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <div class="model-footer">
        <button class="cancel-buttons" cdkFocusInitial (click)="onNoClick()">Cancel
        </button>
        <button class="dialog-buttons" cdkFocusInitial *ngIf="this.action == 'add'" (click)="addDepartment()">
            Save
        </button>
        <button class="dialog-buttons" cdkFocusInitial *ngIf="this.action == 'update'" (click)="updateDepartment()">
            Update
        </button>

    </div>
</mat-dialog-actions>