@import "~assets/sass/md/customCSS";

.card-content .table-responsive .time-sheets-table-head {
  background: #fafafa;
}

.card-content .table-responsive .time-sheets-table-head tr>th {
  font-size: 14px;
  padding: 5px;
  font-weight: 500 !important;
}

::ng-deep .ng-select .ng-select-container .ng-value-container .ng-placeholder {
  color: #000000;
}
