<br>
<div class="main-content">
  <div class="card" style="box-shadow: none !important;margin-top: 0;">
    <div class="card-header">
      <div class="pull-left">
        <h6 class="title">Employee Advance Assignment</h6>
      </div>
      <div class="text-right">
        <div class="btn-group dropleft btn-group-actionsList" style="margin: 0;">
          <button class="btn btn-default-actionsList dropdown-toggle" type="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Actions <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropleft">
            <!-- <li class="dropdown-menu-list"><a class="dropdown-menu-item"
                              (click)="openDialogToBulkAdvanceTemplateAssigment('AssignTemplates')">Assign
                              Template</a></li> -->
                      <!-- <li class="dropdown-menu-list"><a class="dropdown-menu-item"
                              (click)="openDialogToBulkExpenceTemplateAssigment('AssignSupervisors')">Assign
                              Supervisors</a></li> -->
                      <li class="dropdown-menu-list"><a class="dropdown-menu-item" (click)="openDialogToBulkUploadTemplateAssigment()">Bulk
                              Assign Template</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card-content">
      <form [formGroup]="advanceTemplateAssignment">
        <div class="searchBox" style="text-align: right">
          <i class="fa fa-search"></i>
          <input type="text" pInputText size="50" placeholder="Search"
            (input)="dt1.filterGlobal($event.target.value, 'contains')" style="width:auto">
        </div>
        <p-table #dt1 [columns]="columns" [value]="assignmentList" [rows]="5" [paginator]="true" [pageLinks]="5"
          [rowsPerPageOptions]="[5,10,20]" [resizableColumns]="true" [autoLayout]="true" [responsive]="true"
          [(selection)]="selectedRows">
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th>
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th *ngFor="let col of columns">
                {{col.header}}
              </th>
            </tr>
            <tr>
              <th></th>
              <th *ngFor="let col of columns" [ngSwitch]="col.field">
                <p-multiSelect *ngSwitchCase="'workLocation'" appendTo="body" defaultLabel="All"
                  [options]="workLocations" [style]="{'width':'100%'}"
                  (onChange)="dt1.filter($event.value, col.field, 'in')"></p-multiSelect>
                <p-multiSelect *ngSwitchCase="'department'" appendTo="body" defaultLabel="All" [options]="departments"
                  [style]="{'width':'100%'}" (onChange)="dt1.filter($event.value, col.field, 'in')"></p-multiSelect>
                <p-multiSelect *ngSwitchCase="'designation'" appendTo="body" defaultLabel="All" [options]="designations"
                  [style]="{'width':'100%'}" (onChange)="dt1.filter($event.value, col.field, 'in')"></p-multiSelect>
                <p-multiSelect *ngSwitchCase="'band'" appendTo="body" defaultLabel="All" [options]="bands"
                  [style]="{'width':'100%'}" (onChange)="dt1.filter($event.value, col.field, 'in')">
                </p-multiSelect>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-car let-columns="columns">
            <tr [pSelectableRow]="car">
              <td>
                <p-tableCheckbox [value]="car"></p-tableCheckbox>
              </td>
              <td *ngFor="let col of columns">
                <div *ngIf="col.field!='actions'">{{car[col.field]}}</div>
                <div class="mat-cell">
                  <div class="mat-element-icon">
                    <div *ngIf="!(car.templateName===null)">
                      <span class="edit" *ngIf="col.field=='actions'"><i class="fa fa-pencil-square-o" matTooltip="Edit"
                          aria-hidden="true" (click)="openDialogEditAssigmentTemplate(car)"></i></span>
                      <span class="delete" *ngIf="col.field=='actions'"><i class="fa fa-trash-o" matTooltip="Delete"
                          aria-hidden="true" (click)="deleteAdvanceAssignment(car)"></i></span>
                    </div>
                    <div *ngIf="car.templateName===null">
                      <span class="add" *ngIf="col.field=='actions'"><i class="fa fa-plus-square" matTooltip="Add"
                          aria-hidden="true" (click)="openDialogToaddAssigmentTemplate(car)"></i></span>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </form>
    </div>
  </div>
</div>