<div class="main-content">
  <div class="container-fluid">
<div class="card">
  <div class="card-content">
    <div class="row">
      <div>
        <div class="col-md-12">
          <div class="col-md-4 no-padding">
            <img src="assets/images/create_thumb.png" />
          </div>
          <div class="col-md-4 no-padding">
            <p>Payslip for December - 2017</p>
          </div>
          <div class="col-md-4 no-padding">
            <h6>
              <p>Stellar Pvt. Ltd.</p>
            </h6>
            <h5>
              <p>306 Prabhadevi Industrial Estate</p>
            </h5>
            <h5>
              <p>Veer Savarkar Marg</p>
            </h5>
            <h5>
              <p>Mumbai 400025</p>
            </h5>
          </div>
        </div>
      </div>

      <hr>
      <div>
        <div class="col-md-12">
          <div class="col-md-6 no-padding">
            <div class="col-md-4 no-padding">
              <p>Employee Code</p>
            </div>
            <div class="col-md-8 no-padding">
              <p>:&nbsp;1130</p>
            </div>
          </div>
          <div class="col-md-6 no-padding">
            <div class="col-md-4 no-padding">
              <p>Joining Date</p>
            </div>
            <div class="col-md-8 no-padding">
              <p>:&nbsp;26-12-2017</p>
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="col-md-6 no-padding">
            <div class="col-md-4 no-padding">
              <p>Name</p>
            </div>
            <div class="col-md-8 no-padding">
              <p>:&nbsp;anuj kumar</p>
            </div>
          </div>
          <div class="col-md-6 no-padding">
            <div class="col-md-4 no-padding">
              <p>UAN Number</p>
            </div>
            <div class="col-md-8 no-padding">
              <p>:&nbsp;</p>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="col-md-6 no-padding">
            <div class="col-md-4 no-padding">
              <p>City</p>
            </div>
            <div class="col-md-8 no-padding">
              <p>:&nbsp;Mumbai</p>
            </div>
          </div>
          <div class="col-md-6 no-padding">
            <div class="col-md-4 no-padding">
              <p>PF Number</p>
            </div>
            <div class="col-md-8 no-padding">
              <p>:&nbsp;</p>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="col-md-6 no-padding">
            <div class="col-md-4 no-padding">
              <p>State</p>
            </div>
            <div class="col-md-8 no-padding">
              <p>:&nbsp;Maharashtra</p>
            </div>
          </div>
          <div class="col-md-6 no-padding">
            <div class="col-md-4 no-padding">
              <p>ESIC Number</p>
            </div>
            <div class="col-md-8 no-padding">
              <p>:&nbsp;</p>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="col-md-6 no-padding">
            <div class="col-md-4 no-padding">
              <p>Bank Name</p>
            </div>
            <div class="col-md-8 no-padding">
              <p>:&nbsp;</p>
            </div>
          </div>
          <div class="col-md-6 no-padding">
            <div class="col-md-4 no-padding">
              <p>PAN Number</p>
            </div>
            <div class="col-md-8 no-padding">
              <p>:&nbsp;</p>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="col-md-6 no-padding">
            <div class="col-md-4 no-padding">
              <p>A/C Number</p>
            </div>
            <div class="col-md-8 no-padding">
              <p>:&nbsp;</p>
            </div>
          </div>
          <div class="col-md-6 no-padding">
            <div class="col-md-4 no-padding">
              <p>Designation</p>
            </div>
            <div class="col-md-8 no-padding">
              <p>:&nbsp;hr</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="col-md-12">
      <div class="col-md-6 no-padding">
        <div class="col-md-5 no-padding">
          <p>Cost Cetnter</p>
        </div>
        <div class="col-md-7 no-padding">
          <p>:&nbsp;</p>
        </div>
      </div>
      <div class="col-md-6 no-padding">

      </div>
    </div>
    <hr>
    <div class="col-md-12">
      <div class="col-md-3 no-padding">
        <div class="col-md-5 no-padding">
          <p>Total Days</p>
        </div>
        <div class="col-md-7 no-padding">
          <p>:&nbsp;31.0</p>
        </div>
      </div>
      <div class="col-md-3 no-padding">
        <div class="col-md-5 no-padding">
          <p>Days Paid</p>
        </div>
        <div class="col-md-7 no-padding">
          <p>:&nbsp;6.0</p>
        </div>
      </div>
      <div class="col-md-3 no-padding">
        <div class="col-md-5 no-padding">
          <p>Absent Days</p>
        </div>
        <div class="col-md-7 no-padding">
          <p>:&nbsp; 0.0</p>
        </div>
      </div>
      <div class="col-md-3 no-padding">
        <div class="col-md-5 no-padding">
          <p>Arrear Days</p>
        </div>
        <div class="col-md-7 no-padding">
          <p>:&nbsp; 0</p>
        </div>
      </div>

    </div>
    <hr>
    <div class="col-md-12" style="padding:0px;">
      <div class="col-md-6">
        <h5>Earnings</h5>
        <table class="table table-hover table-responsive">
          <thead>
            <tr>
              <th>Earning Heads</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                Non-Taxable Variable Earnings
              </td>
              <td>

              </td>
            </tr>
            <tr>
              <td>
                Bonus
              </td>
              <td>
                <i class="fa fa-rupee"></i>4,996
              </td>
            </tr>
            <tr>
              <td>
                Performance Bonus
              </td>
              <td>
                <i class="fa fa-rupee"></i> 1,443
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-6 ">
        <h5>Deductions</h5>
        <table class="table table-hover table-responsive">
          <thead>
            <tr>
              <th>Earning Heads</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                &nbsp;
              </td>
              <td>
                &nbsp;
              </td>
            </tr>
            <tr>
              <td>
                &nbsp;
              </td>
              <td>
                &nbsp;
              </td>
            </tr>
            <tr>
              <td>
                &nbsp;
              </td>
              <td>
                &nbsp;
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
    <hr>
    <!-- <div class="col-md-12">
      <div class="col-md-12">
        <div class="col-md-6 ">
          <div class="col-md-8 no-padding">
            <p>Gross Earnings</p>
          </div>
          <div class="col-md-4 no-padding">
            <i class="fa fa-rupee"></i> 6,439
          </div>
        </div>
        <div class="col-md-6 no-padding">
          <div class="col-md-8 no-padding">
            <p>Gross Deductions</p>
          </div>
          <div class="col-md-4 no-padding">
            <i class="fa fa-rupee"></i> 0
          </div>
        </div>
      </div>
    </div> -->
    <div class="row no-margin">
        <div class="col-md-6">
          <div class="col-md-8">
            <p class="no-margin">Gross Earnings</p>
          </div>
          <div class="col-md-4 text-right">
            <p class="no-margin"><i class="fa fa-rupee"></i> 6,439</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="col-md-8">
            <h4 class="no-margin">Gross Deductions</h4>
          </div>
          <div class="col-md-4 text-right">
            <p class="no-margin"><i class="fa fa-rupee"></i> 0</p>
          </div>
        </div>
      </div>
    <hr>
    <div class="col-md-12 no-padding">
      <div style="float: right">
        <p>
          Net Salary:
          <i class="fa fa-rupee"></i> 6,439


        </p>
      </div>
    </div>
    <hr>
    <div style="text-align: center;">
      <button class="btn header-button">
        <span>
          <i class="fa fa-times" aria-hidden="true"></i>
          Cencel</span>
      </button>


      <button class="btn header-button">
        <span >
          <i class="fa fa-floppy-o" aria-hidden="true"></i>
          Save</span>
      </button>
    </div>
  </div>

</div>
  </div>
</div>