@import "~assets/sass/md/customCSS";

.calender-listing li {
  display: inline-block;
  padding: 0 5px;
  vertical-align: middle;
}

.calender-listing .monthTitle h2 {
  font-size: 25px;
  font-weight: 400;
  color: #666;
  margin: 0;
}

.calender-listing li span .fa-angle-left,
.fa-calendar,
.fa-angle-right {
  background: #f0f0f0;
  padding: 10px;
  font-weight: 600;
  color: #888;
  border-radius: 2px;
  cursor: pointer;
}

.rosterRecordsList ul li {
  list-style: none;
  border-radius: 0;
  padding: 6px 10px;
  display: inline-block;
}

.rosterRecordsList ul li>.noshift-assigned,
.working-days,
.weekly-off,
.notApplicable,
.holiday {
  font-size: 13px;
  text-align: center;
  font-weight: 600;
  color: #fff;
  padding: 5px 10px;
  border-radius: 2px;
  letter-spacing: 0.5px;
  width: 150px;
  display: block;
}

.rosterRecordsList ul li>.noshift-assigned {
  background-color: #eb7f37;
}

.rosterRecordsList ul li>.working-days {
  background-image: linear-gradient(45deg, hsla(0, 0%, 100%, .15) 25%, transparent 0, transparent 50%, hsla(0, 0%, 100%, .15) 0, hsla(0, 0%, 100%, .15) 75%, transparent 0, transparent);
  background-size: 1rem 1rem;
  color: #000000;
  background-color: rgb(204, 204, 204);
}

.rosterRecordsList ul li>.weekly-off {
  background-color: #4aa3df;
}

.rosterRecordsList ul li>.holiday {
  background-color: #19b698;
}

.rosterRecordsList ul li>.notApplicable {
  background-color: #777777;
}

.selectClass {
  position: relative;
}

.selectClass:after {
  font-family: FontAwesome;
  content: "\f058";
  font-size: 23px;
  color: #4CAF50;
  background: rgba(232, 232, 232, 0.6);
  left: 0;
  right: 0;
  top: 0px;
  bottom: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 7px;
}
