<mat-dialog-content>
    <div class="logo">
        <img src="assets/images/dialog-logo.png">
    </div>
    <div class="close-icon">
        <i class="material-icons" (click)="onNoClick()">close</i>
    </div>
    <h4 mat-dialog-title>Save changes to</h4>
    <div class="row">
        <div class="col-md-4">
            <div class="radio-wrapper">
                <mat-radio-group [formControl]="updatationType">
                    <mat-radio-button value="CURRENT_DATE">This date only</mat-radio-button>
                    <mat-radio-button value="WEEK">Weekly</mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="input-errorClass" [hidden]="(updatationType.valid || updatationType.untouched)">
                Field is required
            </div>
        </div>
    </div>

</mat-dialog-content>
<mat-dialog-actions>
    <div class="model-footer">

        <button class="dialog-buttons" cdkFocusInitial (click)="updateRoster()">Confirm</button>
        <button class="cancel-buttons" cdkFocusInitial (click)="onNoClick()">Cancel</button>
    </div>
</mat-dialog-actions>