@import "~assets/sass/md/model";

// .mat-header-row,
// .mat-row { padding: 0 !important;}
// .mat-header-row{background: #edf2fb;}
// .mat-header-cell{color: #001a3c; letter-spacing: 0.5px;text-transform: capitalize;font-weight: 500;font-size: 14px;border-left: 1px solid #d9dada;}