<mat-dialog-content>
    <div class="logo">
        <img src="assets/images/dialog-logo.png">
    </div>
    <div class="close-icon">
        <i class="material-icons" (click)="onNoClick()">close</i>
    </div>
    <h4 mat-dialog-title>Reset your password</h4>
    <form [formGroup]="resetForm">
        <mat-form-field class="fullLength">
            <input matInput type="password" placeholder="New Password" formControlName="password">
            <mat-error [hidden]="(this.resetForm.controls.password.valid 
                || this.resetForm.controls.password.untouched)">
                Field is Required
            </mat-error>
        </mat-form-field>
        <mat-form-field class="fullLength">
            <input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword">
            <mat-error [hidden]="(this.resetForm.controls.confirmPassword.valid 
                || this.resetForm.controls.confirmPassword.untouched)">
                Field is Required
            </mat-error>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <div class="model-footer">
        <button class="cancel-buttons" cdkFocusInitial (click)="onNoClick()"> Cancel</button>
        <button class="dialog-buttons" cdkFocusInitial (click)="resetPassword()"> Reset Password</button>
    </div>
</mat-dialog-actions>
