<div class="card" style="box-shadow: none !important;">
  <div>
    <div style="text-align: right; padding-bottom: 5px;">
      <button type="button" class="btn header-button" (click)="navigateAddCtcComponent()">
        <span>
          <i class="fa fa-plus-square" aria-hidden="true"></i>
          New CTC</span>
      </button>
    </div>
  </div>
  <!-- <ng-template #empInfoEdit>
    <div class="card-header">
      <h6 class="title">Salary Details</h6>
    </div>
  </ng-template> -->
  <div class="card-content">
    <div class="table-responsive example-container mat-elevation-z8">
      <mat-table #table [dataSource]="dataSource">

        <ng-container matColumnDef="ctcFrequency">
          <mat-header-cell *matHeaderCellDef>Frequency</mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{element.ctcFrequency}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="payrollEffectiveDate">
          <mat-header-cell *matHeaderCellDef>CTC Effective From</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.payrollEffectiveDate | date:'dd-MM-yyyy'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="salaryEffectiveToDate">
          <mat-header-cell *matHeaderCellDef>CTC Effective To</mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{element.salaryEffectiveToDate | date:'dd-MM-yyyy'}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="amounts">
          <mat-header-cell *matHeaderCellDef> Gross Salary</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.amounts}}</mat-cell>
        </ng-container>


        <ng-container matColumnDef="totalTakeHomes">
          <mat-header-cell *matHeaderCellDef>Total Take Home</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.totalTakeHomes}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span>
              <i (click)="getAuthenticationForEdit(element)" class="fa fa-eye action-icon" aria-hidden="true" style="color:green;"></i>
            </span>
            <span>
              <i class="fa fa-trash-o action-icon" aria-hidden="true" (click)="deleteRecord(element.empSalaryId)" style="color:#e03737;"></i>
            </span>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
  </div>
</div>