@import "~assets/sass/md/customCSS";

.errorMat-Class {
  color: #f44336;
  font-size: 12px;
  font-weight: 400;
  position: relative;
  bottom: 15px;
}

.shiftColor_code>p {
  font-size: 14px;
  font-weight: 400;
}
