<mat-dialog-content>
    <div class="logo">
        <img src="assets/images/dialog-logo.png">
    </div>
    <div class="close-icon">
        <i class="material-icons" (click)="onNoClick()">close</i>
    </div>
    <h4 mat-dialog-title>Generate Attendance Process For May-2020</h4>
    <form>
        <div class="form-group">
            <p class="category">Which Employees Do you want to include in this Report?</p>
            <div class="radio-wrapper">
                <mat-radio-group>
                    <mat-radio-button value='1'>All Employees</mat-radio-button>
                    <mat-radio-button value='2'>Some Employees</mat-radio-button>
                    <mat-radio-button value='3'>Specific Employees</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <div class="model-footer">
        <button class="cancel-buttons" cdkFocusInitial (click)="onNoClick()"> Cancel
        </button>
        <button class="dialog-buttons" cdkFocusInitial> Generate
        </button>
    </div>
</mat-dialog-actions>
