<mat-dialog-content>
  <div class="logo">
    <img src="assets/images/dialog-logo.png">
  </div>
  <div class="close-icon">
    <i class="material-icons" (click)="onNoClick()">close</i>
  </div>
  <h4 mat-dialog-title>Add new Band</h4>
  <form [formGroup]="createBandForm">
    <mat-form-field class="fullLength">
      <input matInput formControlName="bandName" placeholder="Band Name" />
      <mat-error [hidden]="(createBandForm.controls.bandName.valid || 
      createBandForm.controls.bandName.untouched)">
        This field is required.
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="model-footer">
    <button class="cancel-buttons" cdkFocusInitial (click)="onNoClick()">Cancel
    </button>
    <button class="dialog-buttons" cdkFocusInitial *ngIf="!this.createBandForm.controls.bandId.value"
      (click)="createNewBand()">
      Add
    </button>
    <button class="dialog-buttons" cdkFocusInitial *ngIf="this.createBandForm.controls.bandId.value"
      (click)="updateBand()">
      Update
    </button>

  </div>
</mat-dialog-actions>