<div class="card" style="box-shadow: none !important;">


  <div class="card-header">
    <h6 class="title">Listing Active Employees</h6>
  </div>

  <div class="card-content">
    <div class="col-md-12" style="margin:0px;background-color:#fff;border:1px solid #ddd;border-radius:3px;">
      <div class="col-md-1"></div>
      <div class="col-md-4">
        <!-- <mat-form-field style="width:100%;">
            <mat-select placeholder="Bulk Actions">
              <mat-option value="bulkActions">Bulk Actions</mat-option>
              <mat-option value="selectEmployeeOnHold">Please Select Employee On Hold</mat-option>
  
            </mat-select>
          </mat-form-field> -->
      </div>
      <div class="col-md-4">
        <mat-form-field style="width:100%;">
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
          <span matSuffix>
            <i class="fa fa-search" aria-hidden="true" style="color:#404A56;"></i>
          </span>
        </mat-form-field>
      </div>
      <div class="col-md-3" style="text-align: right;padding-top:20px;">
        <button class="btn header-button" (click)="showHideFilter = !showHideFilter">
          <span>
            <i class="fa fa-search-plus" aria-hidden="true"></i>
            Show Advance Search</span>
        </button>
        <!-- <a style="font-weight: 600;color:#205081;cursor:pointer" (click)="showHideFilter = !showHideFilter">Show Advance Search Filter</a> -->
      </div>
      <div *ngIf="showHideFilter" class="col-md-12 card" style="border:1px solid #ddd;box-shadow: none;padding:15px 10px;">

        <div class="col-md-3">

          <mat-form-field>
            <mat-select placeholder="Select Location" [formControl]="selectedWorkLocation" multiple style="margin-left: 19px;" (selectionChange)="selectLocation()">
              <mat-select-trigger>
                {{selectedWorkLocation.value ? selectedWorkLocation.value[0] : ''}}
                <span *ngIf="selectedWorkLocation.value?.length > 1" class="example-additional-selection">
                  (+{{selectedWorkLocation.value.length - 1}} others)
                </span>
              </mat-select-trigger>
              <mat-form-field style="width: 100%; margin-top: 10px;">
                <input type="text" placeholder="Search Location" aria-label="Number" matInput [formControl]="myControl" (keyup)="searchLocation($event)">
              </mat-form-field>
              <mat-option *ngFor="let topping of optionsData" [value]="topping.value">{{topping.viewValue}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-3">
          <mat-form-field>
            <mat-select placeholder="Joining Month" [formControl]="selectedYear" multiple style="margin-left: 19px;" (selectionChange)="selectYear()">
              <mat-select-trigger>
                {{selectedYear.value ? selectedYear.value[0] : ''}}
                <span *ngIf="selectedYear.value?.length > 1" class="example-additional-selection">
                  (+{{selectedYear.value.length - 1}} others)
                </span>
              </mat-select-trigger>
              <mat-form-field style="width: 100%; margin-top: 10px;">
                <input type="text" placeholder="Search Year" aria-label="Number" matInput [formControl]="myControlYear" (keyup)="searchYear($event)">
              </mat-form-field>
              <mat-option *ngFor="let topping of yearsData" [value]="topping.value">{{topping.viewValue}}</mat-option>
            </mat-select>
          </mat-form-field>

        </div>
        <div class="col-md-3">
          <mat-form-field>
            <mat-select placeholder="Employee Status" [formControl]="selectedEmployeeStatus" multiple style="margin-left: 19px;" (selectionChange)="selectEmployeeStatus()">
              <mat-select-trigger>
                {{selectedEmployeeStatus.value ? selectedEmployeeStatus.value[0] : ''}}
                <span *ngIf="selectedEmployeeStatus.value?.length > 1" class="example-additional-selection">
                  (+{{selectedEmployeeStatus.value.length - 1}} others)
                </span>
              </mat-select-trigger>
              <mat-form-field style="width: 100%; margin-top: 10px;">
                <input type="text" placeholder="Search Status" aria-label="Number" matInput [formControl]="myControlEmployeeStatus" (keyup)="searchEmployeeStatus($event)">
              </mat-form-field>
              <mat-option *ngFor="let topping of statusData" [value]="topping.value">{{topping.viewValue}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field>
            <mat-select placeholder="Cost Center" [formControl]="selectedCostCenter" multiple style="margin-left: 19px;" (selectionChange)="selectCostCenter()">
              <mat-select-trigger>
                {{selectedCostCenter.value ? selectedCostCenter.value[0] : ''}}
                <span *ngIf="selectedCostCenter.value?.length > 1" class="example-additional-selection">
                  (+{{selectedCostCenter.value.length - 1}} others)
                </span>
              </mat-select-trigger>
              <mat-form-field style="width: 100%; margin-top: 10px;">
                <input type="text" placeholder="Search Cost Centers" aria-label="Number" matInput [formControl]="myControlCostCenter" (keyup)="searchCostCenter($event)">
              </mat-form-field>
              <mat-option *ngFor="let topping of costCenterData" [value]="topping.value">{{topping.viewValue}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="col-md-12 table-responsive example-container mat-elevation-z8" style="margin-top:15px;margin-bottom:15px;padding-bottom: 15px;
      padding-top: 10px;">
      <mat-table #table [dataSource]="dataSource">

        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)=" $event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </mat-cell>
        </ng-container>


        <ng-container matColumnDef="empCode">
          <mat-header-cell *matHeaderCellDef>Employee Code</mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{element.empCode}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="empName">
          <mat-header-cell *matHeaderCellDef>Employee Name</mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{element.empName}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="empJoiningDate">
          <mat-header-cell *matHeaderCellDef>Joining Date</mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{element.empJoiningDate}}
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>

    <div class="col-md-12" style="text-align: center;">
      <button class="btn header-button" cdkFocusInitial (click)="onNoClick()">
        <span>
          <i class="fa fa-times" aria-hidden="true"></i>
          Cancel</span>
      </button>
      <!-- mat-button matStepperNext -->
      <button matStepperNext class="btn header-button" cdkFocusInitial (click)="onProceedOffCyclePayments()">
        <span>
          <i class="fa fa-check" aria-hidden="true"></i>
          Proceed</span>
      </button>

    </div>

  </div>


</div>