<mat-dialog-content>
    <div class="logo">
        <img src="assets/images/dialog-logo.png">
    </div>
    <div class="close-icon">
        <i class="material-icons" (click)="onNoClick()">close</i>
    </div>
    <form [formGroup]="deleteResignationRequest">
        <h4 mat-dialog-title> Are you sure you would like to delete this Resignation Request?</h4>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <div class="model-footer">
        <button class="cancel-buttons" cdkFocusInitial (click)="onNoClick()">
            Cancel
        </button>
        <button class="dialog-buttons" cdkFocusInitial (click)="confirmDelete(deleteResignationRequest)">
            Confirm
        </button>
    </div>
</mat-dialog-actions>