@import "~assets/sass/md/customCSS";

.editContribution_state {
  margin-left: 20px;
}

.list-group .list-group-item {
  border: 0;
}

.table-responsive .table.table-bordered thead>tr>th {
  font-size: 14px;
  font-weight: 600;
}
