@import "~assets/sass/md/customCSS";

.awesome-payroll {
  font-size: 70px;
  color: #3f77c4;
}

.complete-steps-payroll {
  margin-top: 25px;
}

.complete-steps-payroll a {
  color: #2d8cff;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

.complete-steps-payroll a:hover {
  color: #0674f8;
}
