<div class="main-content">
  <div class="container-fluid">
    <div class="card-content">
      <div class="searchBox" style="text-align: right">
        <i class="fa fa-search"></i>
        <input type="text" pInputText size="50" placeholder="Search"
          (input)="dt1.filterGlobal($event.target.value, 'contains')" style="width:auto">
      </div>
      <p-table #dt1 [columns]="columns" [value]="cancelledRequest" [rows]="5" [paginator]="true" [pageLinks]="5"
        [rowsPerPageOptions]="[5,10,20]" exportFilename="Employee_Report" [resizableColumns]="true" [autoLayout]="true"
        exportFilename="Regularization_Report" [responsive]="true">
        <ng-template pTemplate="caption">
          <div class="ui-helper-clearfix">
            <button type="button" pButton icon="fa fa-file-o" iconPos="left" label="Download" (click)="dt1.exportCSV()"
              class="pull-right"></button>
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns">
              {{col.header}}
            </th>
          </tr>
          <tr>
            <th *ngFor="let col of columns" [ngSwitch]="col.field">
              <p-multiSelect *ngSwitchCase="'location'" appendTo="body" defaultLabel="All" [options]="allLocation"
                [style]="{'width':'100%'}" (onChange)="dt1.filter($event.value, col.field, 'in')"></p-multiSelect>
              <p-multiSelect *ngSwitchCase="'band'" appendTo="body" defaultLabel="All" [options]="allBand"
                [style]="{'width':'100%'}" (onChange)="dt1.filter($event.value, col.field, 'in')">
              </p-multiSelect>
              <p-multiSelect *ngSwitchCase="'department'" appendTo="body" defaultLabel="All" [options]="allDepartment"
                [style]="{'width':'100%'}" (onChange)="dt1.filter($event.value, col.field, 'in')"></p-multiSelect>
              <p-multiSelect *ngSwitchCase="'designation'" appendTo="body" defaultLabel="All" [options]="allDesignation"
                [style]="{'width':'100%'}" (onChange)="dt1.filter($event.value, col.field, 'in')"></p-multiSelect>
              <p-multiSelect *ngSwitchCase="'empName'" appendTo="body" defaultLabel="All" [options]="filterByEmp"
                [style]="{'width':'100%'}" (onChange)="dt1.filter($event.value, col.field, 'in')"></p-multiSelect>
              <p-multiSelect *ngSwitchCase="'requestType'" appendTo="body" defaultLabel="All" [options]="filterByType"
                [style]="{'width':'100%'}" (onChange)="dt1.filter($event.value, col.field, 'in')"></p-multiSelect>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-car let-columns="columns">
          <tr [pSelectableRow]="car">
            <td *ngFor="let col of columns">
              <div *ngIf="col.field!='action' && col.field!='requestType' && col.field!='regularizationDate'">
                {{car[col.field]}}</div>
              <div *ngIf="col.field!='action' && col.field!='requestType' && col.field=='regularizationDate'">
                {{car[col.field] | date:'MMM dd, yyyy' }}
              </div>
              <div *ngIf="col.field!='action' && col.field=='requestType' && col.field!='regularizationDate'">
                {{car[col.field] | customUnderscorePipe:'car[col.field]'}}
              </div>
              <div class="mat-cell" *ngIf="col.field=='action'">
                <div class="mat-element-icon">
                  <span class="view" *ngIf="(car.regularizationStatus == 'Cancelled' && col.field!='requestType')">
                    <i class="fa fa-eye" aria-hidden="true" matTooltip="View"
                      (click)="viewRegularizationRequest(car);"></i>
                  </span>
                </div>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
