@import "~assets/sass/md/customCSS";

.loansAndAdvances-table-resDIV table>thead>tr {
  background-color: #0f356b;
}

.loansAndAdvances-table-resDIV table>thead>tr>th {
  color: #ffffff;
}

.split-row-element-icon span {
  color: #e95b6d;
  font-size: 20px;
  cursor: pointer;
}
